[2021-11-10 18:35] mohammadranjbarz commented on #377
Oh you are right, we had this problem before
Ok I would fix it

[2021-11-10 19:15] mohammadranjbarz commented on #377
@divine-comedian
It has been fixed

[2021-11-10 19:34] divine-comedian commented on #377
nice! let's see what happens tomorrow then ..

![image](https://user-images.githubusercontent.com/67759413/141181050-bb276f52-9a56-4513-b7e8-c13a8b050406.png)

[2021-11-10 21:44] divine-comedian commented on #364
it wasn`t working with some older projects so I tried to make a new project on giveth.io and make it traceable via the wizard.. however when I try it says the slug is wrong ... can`t screenshot all the details but it looks like this

![image](https://user-images.githubusercontent.com/67759413/141198472-35cf2e5e-0b0a-4894-81c7-96d78f5697ae.png)

[2021-11-10 22:41] mohammadranjbarz commented on #364
Oops you are right,
changing queries in impact-graph these days, destroyed API calls in giveth trace, I have verified a project just now
https://develop.giveth.io/campaign/test-upload-photo-2

[2021-11-10 23:12] divine-comedian commented on #364
checking now it looks like it works, and same with changes on io showing up on trace, it just took some time to load. I will continue testing..

[2021-11-10 23:18] divine-comedian commented on #364
ah, and now staging is broken -

![image](https://user-images.githubusercontent.com/67759413/141209011-da7bc822-36fd-4e1e-a9b5-7b564a1ac4d2.png)

[2021-11-11 15:53] divine-comedian commented on #364
okay this is getting weird - I was testing the part of cancelling the project (via adminBro) I look up the project and I have 4 separate entries for the same project - one for probably when the trace was created and then another for each title change

![image](https://user-images.githubusercontent.com/67759413/141328106-79679564-1172-4c8e-b180-12b43808f629.png)

is this related or shall I make a n

[2021-11-14 11:13] geleeroyale opened #403 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I planned to donate, when I hit the donate button, it took me to a torus wallet even though I linked up to my metamask. I was going to donate through metamask on xdai but then it signed me in through torus on ethereum! What gives? I couldn't donate because the transaction fees where to high!
![image]()

[2021-11-14 13:36] mohammadranjbarz commented on #364
@divine-comedian
Yeah as I talked with @MoeNick  `Archived` is equavalant  to `Cancelled` in giveth.io
( and the business are different we just map them for now)

[2021-11-14 13:37] mohammadranjbarz commented on #364
@MoeNick  @DonnaOftadeh
The problem of these task is resolved, because this week Mitch is in vocation, I would appreciate if someone else take testing of this

[2021-11-15 11:08] DonnaOftadeh commented on #364
@mohammadranjbarz @MoeNick  I am taking care of it

[2021-11-15 13:51] DonnaOftadeh commented on #364
The first two work fine
For the Archive: Archive project in giveth trace would cancel project in Giveth.io but it delists it, it should cancel it as you said @mohammadranjbarz
![image](https://user-images.githubusercontent.com/53400757/141792859-2dbdbb79-7c74-4527-99dc-563fac352ac0.png)

this is the message in io which says it is deactivated (@MoeNick these terminologies are confusing we should fi

[2021-11-15 14:12] DonnaOftadeh commented on #364
@mohammadranjbarz activate the project on io via the admin panel but on trace it is still archived:
Admin panel activated status:
![image](https://user-images.githubusercontent.com/53400757/141795945-58e2598f-fd2e-42b2-aff1-899036404075.png)
io activated project:
![image](https://user-images.githubusercontent.com/53400757/141796131-729ce4f4-06e4-4ab2-ba04-158b0fda5daa.png)
Still archive in Trace:

[2021-11-15 15:01] geleeroyale opened #404 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
sadf

[2021-11-15 15:28] mohammadranjbarz commented on #364
It's about admin bro that shows the `Cancelled` status as `delisted`, for testing that you can cancel your project with admin bro and you can see that it shows `delisted`]
I think we consider that as a separated issue about admin bro and statuses

[2021-11-15 15:29] mohammadranjbarz commented on #364
We should test it together, because I think it works

[2021-11-15 15:49] MoeNick opened #405 "Single Page - Donations"

[2021-11-15 15:49] mohammadranjbarz commented on #364
@DonnaOftadeh
You are right, nice catch.
 We dont handle edits in view project, I just update trace when we use bulk edit in admin bro

[2021-11-15 15:49] MoeNick opened #406 "Single Page - updates"

[2021-11-15 15:53] MoeNick commented on #406
Issue moved to [Giveth/giveth-io-typescript #10](https://github.com/Giveth/giveth-io-typescript/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-15 15:53] #406 closed

[2021-11-15 15:54] #405 closed

[2021-11-15 15:54] MoeNick commented on #405
Issue moved to [Giveth/giveth-io-typescript #11](https://github.com/Giveth/giveth-io-typescript/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-15 16:16] laurenluz opened #407 "Add NuCypher to token list"
As per feedback in the support channel, we have a user wanting to donate NuCypher (NU). https://etherscan.io/token/0x4fE83213D56308330EC302a8BD641f1d0113A4Cc

Can we add this to the token list? @mateodaza

[2021-11-15 16:17] #390 closed

[2021-11-15 16:17] #389 closed

[2021-11-15 16:33] geleeroyale opened #408 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Using Brave to include on Update on Njombe Innovation Academy. Whe nI clikc on "submit" I get "cannot read property "id" of null"
![image](https://api.typeform.com/responses/files/93db0621d3b57d5bcb2198699b03e8b7da64c9385db45ce3b399ed2ddc72aeeb/Screenshot_from_2021_11_15_19_29_10.png)

[2021-11-15 16:59] geleeroyale opened #409 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
Can you please add NuCypher (NU) to the list of tokens so I can donate my coins?

I was told on discord to request this here.

Contract address for NU is 0x4fE83213D56308330EC302a8BD641f1d0113A4Cc

Thanks!

[2021-11-15 22:17] mateodaza commented on #269
@RamRamez this is done, right?

[2021-11-15 22:23] RamRamez commented on #269
No this is not. Now we are using both web.js and ethers.js and those are doing the same thing. Those packages are about 5.7MB and 10MB so it would be better to unify the code and use one of them.

[2021-11-15 22:47] #374 closed

[2021-11-15 22:48] mateodaza commented on #269
how do we make the decision? you have any opinion?
Found this interesting [blog](https://blog.infura.io/ethereum-javascript-libraries-web3-js-vs-ethers-js-part-i/)

[2021-11-15 23:02] RamRamez commented on #269
Yes, and the number of downloads in NPM are very close, both 400,000 per week.

I think you can also check the the code and see which one is less used. The one that is less used in our code would be easier to change.

[2021-11-16 06:16] Mettodo commented on #408
Updates on this:
The updates have been published 4 times, but the pictures I uploaded are not there.

[2021-11-16 12:25] mateodaza commented on #173
what's the status of this? @mohammadranjbarz ?

[2021-11-16 12:29] mohammadranjbarz commented on #173
Now we assume all projects are in giveth.io, so everything is fine
just we didn't do anything about traceable donations

[2021-11-16 12:33] mohammadranjbarz commented on #173
@mateodaza
You can also this issue #364

[2021-11-16 12:34] mateodaza commented on #173
should we keep both?

[2021-11-16 12:37] mohammadranjbarz commented on #173
You know this issue comments were a lot , and because this issue was big and had lots of comments, I decided to create some tiny issues instead of it

[2021-11-16 12:57] MoeNick commented on #377
@DonnaOftadeh

[2021-11-16 13:48] DonnaOftadeh commented on #377
@MoeNick @mohammadranjbarz @CarlosQ96 guys I just checked the same project, it is not listed , also all of the projects I created for testing are not listed,
CronJob project
https://serve.giveth.io/admin/resources/Project/records/157/show
The projects I created from 14th of Nov
https://serve.giveth.io/admin/resources/Project?filters.creationDate%7E%7Efrom=2021-11-14+00%3A00&page=1

[2021-11-16 13:53] DonnaOftadeh commented on #319
@mohammadranjbarz @mateodaza I just try to test another thing and encountered this little pagination bug: I searched a project which is unlisted and it shows the pagination without showing the project:
![image](https://user-images.githubusercontent.com/53400757/141997840-236118c8-095d-483a-9916-cfb599e5f4c6.png)

[2021-11-16 14:24] mohammadranjbarz commented on #319
@CarlosQ96
Could you take a look on this? I think maybe it's related to search and pagination query

[2021-11-16 14:32] CarlosQ96 commented on #319
@mohammadranjbarz on it! It's probably related to the total Count that typeorm returns.

[2021-11-16 16:57] mohammadranjbarz commented on #377
Just one thing Donna, are sure that you didn't change the status of these projects to `listed` manually?
(I mean you didn't edit, verify,... in admin bro?)
because we change the status of projects manually, when the statuses didn't changed ( but I see status of your project is `false`, it means, it changed in these days

[2021-11-16 16:58] mohammadranjbarz commented on #377
@DonnaOftadeh
I suggest you create a project now, put the slug here , and then tomorrow we can check it out
( Put your slug here to Me, @CarlosQ96 , @mateodaza  don't change it in admin bro while testing other issues)

[2021-11-16 17:15] mohammadranjbarz commented on #377
@DonnaOftadeh is right, the bug exists

[2021-11-16 17:31] mohammadranjbarz opened #411 "Getting error when running project locally"
![Screen Shot 1400-08-25 at 21.00.07.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/39112d1b-495f-4196-93ec-43173573c509)

I tested with `mteo-mig` branch
@RamRamez  @mateodaza  could you take a look on this?

[2021-11-16 17:50] mohammadranjbarz commented on #377
@DonnaOftadeh
I made some changes, please create a project and check it tomorrow, however I created this just now
https://next.giveth.io/project/testing-create-project-tue-second

[2021-11-16 21:15] RamRamez commented on #411
I installed from scratch and it worked fine. maybe you are using wrong config or your internet provider is blocking the back-end.

[2021-11-17 07:37] DonnaOftadeh commented on #377
@mohammadranjbarz I checked your project it is listed :) I also created another project to final check that and will close it tomorrow,
My project:
![image](https://user-images.githubusercontent.com/53400757/142156265-fbabae5e-83f4-4288-aa45-a9d56bd9a4ad.png)
Your project in graphql:
![image](https://user-images.githubusercontent.com/53400757/142156361-d45cab31-6cd4-4730-8df7-a6cf62817f1c.png)

[2021-11-17 07:38] DonnaOftadeh commented on #377
@MoeNick I think verified should automatically list the project right?

[2021-11-17 09:24] DonnaOftadeh opened #412 "Create New - fields are not clear/ I cannot upload image"

[2021-11-17 09:32] DonnaOftadeh commented on #412
I wanted to create a project, I encountered some bugs and unclarified fields:
![image](https://user-images.githubusercontent.com/53400757/142173584-f1eaf829-b307-4cbe-8415-d21d2199e7b2.png)
1.What does Admin field mean? what should I enter in this field or should it be filled automatically?
2. I cannot upload image from the admin panel
3. location should be selectable, I can enter anything in that

[2021-11-17 09:35] DonnaOftadeh opened #413 "I created a test status which I want to delete but cannot delete it"

[2021-11-17 09:37] DonnaOftadeh commented on #413
![image](https://user-images.githubusercontent.com/53400757/142175322-9cbe9559-a3b7-4a02-bf87-bf3716ef5275.png)

[2021-11-17 09:42] DonnaOftadeh opened #414 "I want to create user but some fields are not clear/ also mandatory fields should be highlighted by asterisc"

[2021-11-17 09:43] DonnaOftadeh commented on #414
This fields are not clear:
![image](https://user-images.githubusercontent.com/53400757/142176385-c1c2483b-de98-4463-9d39-38e596df80aa.png)
location should be selectable

[2021-11-17 09:44] DonnaOftadeh opened #415 "As an admin I want to delete a user"

[2021-11-17 12:40] CarlosQ96 commented on #413
@DonnaOftadeh Right now we are not creating more projectStatuses, only editing their description and title. The reason is that the statuses Is are tied to the backend, we have to change that but it's a bit delicate.

[2021-11-17 13:32] laurenluz opened #416 "For Giving Block projects, add "tweet to ask Gemini to list GIV!" prompt (after launch)"
as per: https://github.com/Giveth/GIVeconomy/issues/52

@willyogo what was the best flow we decided here?

[2021-11-17 14:44] laurenluz commented on #416
- Giving Block projects to be on Giveth at launch
- Add GIV token as an option
- When they select GIV - say "this is a Giving Block Project and Gemini doesnt accept GIV tokens"
- Popup w a tweet saying "I want to donate GIV to this project, but we need gemini (tag cameron and tyler) to list GIV"

[2021-11-18 00:22] laurenluz commented on #117
Hey @CarlosQ96 @MoeNick we discussed this in the GIVeconomy call today, and it would be awesome to get those projects on Giveth whenever we can. Is this all ready to go?

We should indicate somewhere on the project that these came from the Giving Block. @markoprljic can you suggest the best way to to this?

And we need to add a prompt to Tweet and tag Gemini if the user tried to donate GIV to thes

[2021-11-18 00:47] CarlosQ96 commented on #117
Hello @laurenluz I have worked on this task for a while, but stopped because of other priorities and bug fixing. I only have one issue left and I can take this on again. Probably have it ready over the weekend for testing.

[2021-11-18 01:38] laurenluz commented on #117
Sounds great!! I wouldn't say this is high pri, but it's definitely good to get back on our radar since it's no longer blocked.

This weekend would be awesome, but I'll leave it to @MoeNick for the final say on priorities and planning

[2021-11-18 01:55] MoeNick commented on #117
@CarlosQ96 I think we can start   Right after the things in staging confirmed as done, like adminbro for production, finalize transak testing and backend support for front new design.
We also have Mohammad back to io and I think you can start whenever you think you have bandwidth.

[2021-11-18 07:44] markoprljic commented on #117
@laurenluz I'm not sure I understand this issue and request. Is there somewhere I can read about how we got to it to get more context about the requirement?

[2021-11-18 12:01] DonnaOftadeh commented on #377
My project is successfully listed now after 1 day :)
![image](https://user-images.githubusercontent.com/53400757/142411681-90f5baf8-f11b-4583-929e-5a3a94d902f0.png)

[2021-11-18 12:36] mohammadranjbarz commented on #364
@DonnaOftadeh
We deployed a fix for the problem that you said, ( editing project from project view page)
you can test it again

[2021-11-18 12:39] DonnaOftadeh commented on #364
@mohammadranjbarz that problem is solved 👍
but I am testing archive in trace which should deactivate in Giveth - it deactivates but the status id both in the admin panel and in graphql is delisted it should be cancelled
![image](https://user-images.githubusercontent.com/53400757/142416792-eb012d65-be7c-499d-afcb-70edd3a3a47e.png)

[2021-11-18 12:58] DonnaOftadeh opened #418 "When I archived a project in Trace and Activate it again in adminbro I cannot see the traceable badge although it is activated in the trace"

[2021-11-18 12:59] DonnaOftadeh commented on #418
@mateodaza FYI

[2021-11-18 13:01] DonnaOftadeh commented on #418
#364 RELATED

[2021-11-18 13:16] DonnaOftadeh commented on #364
For the fifth one: Activate project in gievth.io should unArchive project in giveth trace
It doesn't work, it gives this error when I try to activate a traceable project from IO (I unarchived the project from trace platform as activating the project didn't unarchive the project in trace automatically ),it seems that I don't have permission to update the project status:
![image](https://user-images

[2021-11-18 13:41] DonnaOftadeh commented on #361
this is working, but as you didn't mention in test scenarios I assume that the image upload, also update on the url in the project form  are not synced and connected together in Trace and IO as it doesn't work, Just description and title, right?

[2021-11-18 14:01] DonnaOftadeh commented on #319
@RamRamez dear Ramin, should I test all the items in this PR or wait for the new design to be implemented?

[2021-11-18 15:06] RamRamez commented on #319
@DonnaOftadeh Please check this in our new App [(https://typescript.giveth.io/projects)](https://typescript.giveth.io/projects)

[2021-11-18 16:21] DonnaOftadeh commented on #303
@MoeNick is it related to #377 ? cause 377 automatic un listing for unreviewed projects is now working fine.

[2021-11-18 16:24] DonnaOftadeh commented on #362
This is not working properly, comments #364!

[2021-11-18 16:26] DonnaOftadeh commented on #363
@mohammadranjbarz what is the difference between #364 and this one, all the changes should be applied to both (from trace to io and vice versa), for now it is  just title and description

[2021-11-18 21:37] laurenluz commented on #117
I don't think it's written clearly anywhere @markoprljic ... a summary:

- We are partnering w Giving Block and going to have all their (awesome & background checked) projects listed on Giveth... and people will be able to donate to through project through our platform
- They will all be considered "verified" on our platform (and donors can get GIVbacks)
- They will only be able accept tokens list

[2021-11-19 13:26] geleeroyale opened #420 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Im trying to add my daughters fundraiser here and its not letting me create an account
![image]()

[2021-11-21 17:01] laurenluz opened #421 "Like feature on homepage & projects full page isn't working"
Related to #381

When I click the heart, nothing happens.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0f380d80-c966-4ba8-9c16-13aba92f7301)

[2021-11-22 07:56] mohammadranjbarz commented on #364
Thanks for testing
* The statuses description can change in db, so the `cancelled` status name has changed to `delisted` so you can check the s`tatusId`, `7` means cancelled so it's ok
* Deactivate project doesn't change the status of campaign in trace ( just cancelling project archive campaign in trace)
* When you cancel project you can not activate it from user panel, you should activate itjust

[2021-11-22 09:44] mohammadranjbarz commented on #361
No the images are not syncing currently ( it's not in DOD) in this step

[2021-11-22 13:17] MoeNick commented on #117
@laurenluz is it necessary  to add a badge? We may have other integrations on future, I myself  don't suggest we add a badge for each integration with thirdparties.

And another question: Do we need to do it just once? or do we need to subscribe to updates and edits if their projects too?

[2021-11-22 13:26] markoprljic commented on #117
I also don't think we should include the badge.  We can state it somewhere maybe in the project description (within the text of Description at the top hardcoded) but not having a badge on the project card.

[2021-11-22 14:10] DonnaOftadeh opened #422 "When I clicked on a deactivated project another deactivated project that I opened previously showed in the background"

[2021-11-22 14:13] DonnaOftadeh commented on #422
![image](https://user-images.githubusercontent.com/53400757/142876252-22ae27fd-54fb-47fc-b618-b14ee5348774.png)
Reltad to #364
I opened a deactivated project : Test Trace endpoint Donao12
Then I opened another deactivated project: Test status integration with Trace
the slug is not the same as the project title in the background

[2021-11-22 14:14] DonnaOftadeh commented on #422
I also cleared my cache, the same happened

[2021-11-22 14:16] DonnaOftadeh commented on #364
@MoeNick can you please clarify the archive, unarchive in trace and cancel, deactivate and delisted in IO, and who can change it, I need a precise description to be able to test the rest of this PR

[2021-11-22 14:44] DonnaOftadeh commented on #364
@MoeNick for this one : Cancelling project in giveth.io should archive the campaign in giveth trace
it works when the project status is delisted, but doesn't work when the status is cancelled, please clarify if this is DOD

[2021-11-22 14:51] DonnaOftadeh commented on #364
this is tested and it works as wanted, thanks to Mohammad, @mohammadranjbarz sorry for bugging you a lot!
 only the cancelling seems vague: the cancelling task in the bullet list work when the project status is delisted, we have a cancel status which I don't know exactly what is the difference, if they are the same the same action should be applied to cancel status as well

[2021-11-22 15:31] DonnaOftadeh opened #423 "Add a field which can be seen in admin panel that shows a project is traceable or not"

[2021-11-22 16:36] DonnaOftadeh commented on #319
@RamRamez I am trying to test sort by various sections  but all it seems Al of the project have the same amount raised (200 dollars), no pagination only load more option, hearts seems working (UI is broken as we are migration to typescript and it needs to be implemented), all of them created 5 days ago so I cannot test the creation date sorting. And for sorting based on verification it behaves a b

[2021-11-22 16:59] mohammadranjbarz commented on #341
@geleeroyale
Mateo said that we have regular backup of production DB (for impact-graph ), is it reliable?
and when it get backups from our DB?

[2021-11-22 19:40] geleeroyale commented on #341
We back up the whole server with digitalocean - They are scheduled to start weekly Friday 9 PM to Saturday 8 PM (CET)

[2021-11-23 05:56] mohammadranjbarz commented on #341
8 PM (CET)

Thanks Kay

@MoeNick What do you think?
I think it can be sufficient for now

[2021-11-23 06:02] MoeNick commented on #341
Yeah thanks

[2021-11-23 06:02] #341 closed

[2021-11-23 10:27] MoeNick opened #424 "Test sorting on new UI"
@RamRamez I am trying to test sort by various sections  but all it seems Al of the project have the same amount raised (200 dollars), no pagination only load more option, hearts seems working (UI is broken as we are migration to typescript and it needs to be implemented), all of them created 5 days ago so I cannot test the creation date sorting. And for sorting based on verification it behaves a b

[2021-11-23 10:29] RamRamez commented on #319
@DonnaOftadeh:

Total amount raised is now implemented in backend and I added to the UI in PR #[17](https://github.com/Giveth/giveth-io-typescript/pull/17) and now it shows the correct value.

No pagination and now we have load more in new design. You can test this instead.

Sorting and search is buggy from backend and @CarlosQ96 is working on it.

Last updated is not implemented yet in backend an

[2021-11-23 10:29] RamRamez commented on #424
Total amount raised is now implemented in backend and I added to the UI in PR #17 and now it shows the correct value.

No pagination and now we have load more in new design. You can test this instead.

Sorting and search is buggy from backend and @CarlosQ96 is working on it.

Last updated is not implemented yet in backend and @CarlosQ96 is working on it.

You can't test sorting by creation date si

[2021-11-23 10:30] MoeNick commented on #319
we created #424 for testing it on new ui.
@DonnaOftadeh pls split-up th issues which ramin said.

[2021-11-23 13:29] divine-comedian commented on #245
testing on `next.giveth.io`

I can cancel projects on the adminBro dashboard, this changes their status to `delisted`

when I go to the project's page it does not let me interact with it, the page is blurred out and a popup modal says the project is deactivated.

as the project owner I am prevented from activating this project and a notification tells me I do not have permission.

an event is sent

[2021-11-23 13:41] divine-comedian commented on #366
testiing this out on `nexr.giveth.io` on brave browser

I tried logging in with Torus using google and while the connect wallet button dissapears I get a weird broken image on the navbar -

![image](https://user-images.githubusercontent.com/67759413/143034831-1af4a204-8d79-460b-90bd-35ce8454cebd.png)

[2021-11-23 13:45] divine-comedian opened #455 "Cannot sign-out from Torus with new Onboard JS"
I have connected myself to Giveth using Torus however I am unable to find anywhere on the UI to sign-out from Torus.

the only solution to do this is to delete cookies. Is there a way to make a sign-out option from the navabr drop down menu?

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/5be20830-cef3-4977-8036-8ec893fc29c5)

[2021-11-23 13:49] MoeNick commented on #366
Can you take it @mateodaza ?

[2021-11-23 13:54] divine-comedian commented on #351
Looks to be resolved, I could successfully do all the tasks outlined in this issues - moving to done

[2021-11-23 13:55] divine-comedian commented on #308
@CarlosQ96 @MoeNick  is there any update to test this issue?

[2021-11-23 13:56] divine-comedian commented on #310
Is there any information to how to test this issue? Do I try to make projects via graphql with the same ETH address? @mohammadranjbarz

[2021-11-23 13:58] CarlosQ96 commented on #424
@RamRamez  Working on it. This are issues related to the typeorm library. Will update you soon.
Also adding the last updated at attribute.

[2021-11-23 14:13] MoeNick commented on #424
FYI @CarlosQ96 I push it back to in-progress

[2021-11-23 14:17] MoeNick commented on #308
@mateodaza supposed to talk with them. I couldnt, they didn't answer me.
@DonnaOftadeh appreciate if you can test and update us here

[2021-11-23 14:21] mohammadranjbarz commented on #310
It's a little  hard to test, but if you are familiar with codes ( that I think you are) you can comment ETH address validation in giveth-next and then test creating project

[2021-11-23 14:33] mateodaza commented on #308
This is ready for testing on staging using this info

![image](https://user-images.githubusercontent.com/18689480/143043565-37f1231b-ffed-459f-a792-77eb09445d94.png)

[2021-11-23 15:03] divine-comedian commented on #340
Can we confirm that the text is changed? I also mentioned it in #245

[2021-11-23 15:05] markoprljic commented on #204
Addressing this in the redesign.

[2021-11-23 15:08] markoprljic commented on #290
Thinking about this.

[2021-11-23 15:12] markoprljic commented on #369
@WhyldWanderer Did you add the link at the end of the Verification form? Can we close this issue?

[2021-11-23 15:13] markoprljic commented on #372
@DonnaOftadeh Are these the final states of project verification?

- In progress
- Rejected
- Verified

[2021-11-23 15:28] MoeNick commented on #372
@markoprljic @DonnaOftadeh

Verified is only true false in our db, we only can know It's gert verified or not, but we cany understand is it requested, reviewed , rejected, made some edits and ask for review again ... none of them. Maybe after we implement this flow in our dapp we can understand.

So the only thing we can request in this step is just to make sure we don't show the link to PO if it'

[2021-11-23 15:48] WhyldWanderer commented on #369
Yep!

[2021-11-23 16:30] CarlosQ96 commented on #245
@divine-comedian I'll be renaming the admin bro and the statuses so it's explicit what they are. But the last message you mention is more on the frontend side, it doesn't touch the backend. @mateodaza

[2021-11-23 17:43] divine-comedian commented on #310
I'll need a bit more information than that to know where to test, what can I do for this issues to move it into DONE?

You can DM me if we need to follow-up with more detailed information

[2021-11-23 18:00] divine-comedian commented on #245
it's actually in the impact-graph the notification text -  under projectResolver

[code]

  I'll just go ahead and change it but maybe double check that the error logic makes sense that it only triggers in the case of a project owner trying to reactivate a cancelled project

[2021-11-23 18:02] CarlosQ96 commented on #245
Oh ok, Got it. I thought we had another message on the frontend. Sure the exception message can be changed. @divine-comedian

[2021-11-23 21:39] divine-comedian commented on #245
okay the text has been updated correctly on staging - moving to done

[2021-11-24 16:35] WhyldWanderer commented on #416
Hey @markoprljic .. do you know if there has already been a design made for this user flow?

The idea is that we will have lots of Giving Block projects listed on Giveth, however these projects will not be able to accept GIV tokens because we are not yet listed on Gemini. These projects will have a limited list of tokens that they can accept.

We would like to have GIV as an option in the list but

[2021-11-24 16:46] markoprljic commented on #416
@WhyldWanderer No, this isn't in the works yet BUT we can make it happen! Maybe @mosaeedi can work on this and add it to the current Donation flow. You pretty much described it all here so it's a no brainer.

[2021-11-24 17:55] DonnaOftadeh commented on #308
I am testing it,
0. The loading is really slow, it seems nothing is happening while loading, we need a loading icon:
![image.png](https://images.zenhubusercontent.com/60f71f99b9da54ac7e274e9d/f0b1b7fc-2417-4bfe-8f06-b0701afa04f7)

1. it set a default amount (300 euro in my case) which as a donor I don't like :
![image.png](https://images.zenhubusercontent.com/60f71f99b9da54ac7e274e9d/91860d21-01d7

[2021-11-25 13:55] laurenluz opened #425 "Get rid of that pesky QR code"
When people use the QR code, their donations go directly to the project's wallet... not through Giveth

It makes no sense for us to facilitate donations that we don't track in our DB.  especially considering that people donating should be eligible for GIVbacks in some cases.

let's get rid of 'er!

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/b0b1cc74-8547-433c-8518-c

[2021-11-25 17:35] MoeNick commented on #308
@DonnaOftadeh Jan
Seems all of them are ux problems, did you have any functional problems as well?

[2021-11-25 17:50] DonnaOftadeh commented on #308
@MoeNick @mateodaza both number 4 and 5 are functional issues, I cannot add another card to my account although the option is there and it seems working fine but it does not, at the last step it will not be added, also on number 5 I got the KYC error that I didn't pass one of the steps (I did all of the steps as said )

[2021-11-27 11:50] #376 closed

[2021-11-27 11:51] markoprljic commented on #392
This is taken care of in the redesign. Closing it.

[2021-11-27 11:51] #392 closed

[2021-11-27 11:53] markoprljic commented on #425
This is resolved in new design. Closing it.

[2021-11-29 13:29] DonnaOftadeh commented on #308
@MoeNick @mateodaza guys I want to test this but it gives me an error, can you please help to figure out where is the KYC problem, I did all of the steps as stated, but it seems there is something wrong, please help ASAP as we want to issue our next version and transak is a important feature, Thanks

[2021-11-29 13:36] mateodaza commented on #308
@DonnaOftadeh is the same error that you showd previously? I got luck doing a KYC from the UK instead of USA

[2021-11-29 14:01] DonnaOftadeh commented on #308
@mateodaza oh, man!:(  I am using vpn! what is the possible solution then?

[2021-11-29 14:02] mateodaza commented on #308
@DonnaOftadeh nonono you can lie with your info! - I'm not using VPN and I'm in Colombia. Just look up some address in UK and use it

[2021-11-29 14:03] DonnaOftadeh commented on #308
@mateodaza ok sure :)

[2021-11-29 15:29] DonnaOftadeh commented on #317
@mohammadranjbarz what do you mean by the third item:
I create an exact project name that I created before with another account just without spaces but it allowed me to create it, is this the desired behaviour? :
![image](https://user-images.githubusercontent.com/53400757/143895708-4a2bbf16-55f4-4b8c-84dd-10a486b2f68f.png)

[2021-11-29 15:33] DonnaOftadeh commented on #317
I tested all of them seems working fine and neat, just please clarify the third item @mohammadranjbarz @MoeNick

[2021-11-29 15:38] DonnaOftadeh commented on #335
It seems that this is a feature, I put it in done

[2021-11-29 17:34] DonnaOftadeh commented on #165
@MoeNick I tested it in couple of times and tested both from graphql and the front and it seems stable unless there is a condition left that I didn't test. For now it is done, but will keep an eye on this

[2021-11-29 17:43] DonnaOftadeh commented on #308
@mateodaza @MoeNick @divine-comedian  I tried to pass the KYC couple of times but haven't been able to successfully pass. I do exactly as stated in this issue but for some reason I don't get the sms verification section (?), I searched a US number in the internet and paste it but no SMS verification step was appeared after entering the number, now says I have just passed one step of verification.

[2021-11-29 17:44] mateodaza commented on #308
I think I skipped that verification using only email. Please do the KYC with UK instead of US. That's what worked for me @DonnaOftadeh

[2021-11-29 19:37] mohammadranjbarz commented on #317
It means when you add some spaces between words of a project name, it will scape spaces and then compare it with existing titles,
Anyway please DM me if it's still not clear

[2021-11-29 19:40] divine-comedian commented on #308
tried making a payment from the UK -
![image](https://user-images.githubusercontent.com/67759413/143931816-8f01dfbc-fbc2-4719-9b35-1ed876f17e75.png)

what do?

[2021-11-29 19:45] divine-comedian commented on #308
testing on `next.giveth.io`

using the card details for the UK I set an appropriate KYC - from manchester - and I successfully make a donation in DAI using transak - the DAI donation shows up on both my donations and the project's page

![image](https://user-images.githubusercontent.com/67759413/143932490-58ee3ee7-2a1f-4253-99cf-738ea4138924.png)

[2021-11-29 20:23] DonnaOftadeh commented on #317
@mohammadranjbarz so if this is the case it is not working properly, I created the project with the same title as another project just without spaces, it let me do that:
![image](https://user-images.githubusercontent.com/53400757/143936729-571c334e-25cf-4886-b740-0b1c0abb186b.png)

![image](https://user-images.githubusercontent.com/53400757/143937417-23546e12-5101-47ae-8211-703b52eb5db8.png)

[2021-11-29 20:29] DonnaOftadeh opened #428 "When Switch account the sign in ux is implemented in a way that when user clicks on sign in two requests appears to sign"

[2021-11-29 20:31] CarlosQ96 commented on #317
@DonnaOftadeh But in this case Mohammed meant when more than 1 space is added, for example:
1. Test automatic
2. Test                automatic
Both are the same and should not allow it, since the second one would have exactly the same slug.
But completely removing all spaces that's considered another full word so it doesn't apply.  (slugs won't clash either)

[2021-11-29 20:36] DonnaOftadeh commented on #428
![image](https://user-images.githubusercontent.com/53400757/143938958-2e49f604-6e3d-4993-a284-d0205a76e648.png)
![image](https://user-images.githubusercontent.com/53400757/143939267-9ebdcb5a-5f12-4bf1-a038-bc9bd2ab6e7f.png)

[2021-11-29 20:48] DonnaOftadeh commented on #317
Ok got it! So this is done :)))

[2021-11-29 21:14] DonnaOftadeh commented on #317
I think I have to work in my morning instead of night! :))))

[2021-11-30 12:18] DonnaOftadeh commented on #291
@RamRamez @MoeNick I tested it on next and it is still not working:
![image](https://user-images.githubusercontent.com/53400757/144045988-eb7b4877-9997-43a8-a471-48513f562331.png)

[2021-11-30 12:32] DonnaOftadeh commented on #304
@MoeNick @RamRamez should I test it on https://typescript.giveth.io/projects or next?

[2021-11-30 13:09] mohammadranjbarz commented on #310
@divine-comedian
The mutation is  `addProject`

[2021-11-30 13:37] laurenluz commented on #117
Whether it is a badge or hardcorded at the top of the project description, we should definitely mention it. The Giving Block is doing us a huge favour by providing us with these great projects to put on Giveth, we should give them shout-outs/cred wherever possible as thanks.

I think the badge is much cleaner for three reasons: it doesn't disrupt the flow of what could otherwise be written in thei

[2021-11-30 13:40] CarlosQ96 commented on #117
Who should I set up as the admin of these projects? @laurenluz Since I am just exporting basic information I don't have a admin to setup.

[2021-11-30 13:48] GriffGreen commented on #117
@CarlosQ96 I think we should have a Key that is the admin to all The Giving Block so that we can better support that set of users.

How do we manage auto updating their projects? Does the Admin key need to do that?

The Admin key can pass its ownership over the project to someone else right?

[2021-11-30 13:54] GriffGreen commented on #117
RE: Giving Block Tag. @laurenluz @markoprljic @MoeNick

Hell yes let's get the words "The Giving Block" in the eyes of our users right away, on our front page.

I can't say enough how important it is for the network effect and our general reputation and high gratitude vibes that we go over and above to give credit to groups like The Giving Block.

The Giving Block has their whole team dedicated to

[2021-11-30 14:12] markoprljic commented on #117
@MoeNick Please let's not make rushed design decisions. I'll prepare a design solution for this soonest.

[2021-11-30 14:15] CarlosQ96 commented on #117
The project admin is configurable from the adminbro, I'll double check if that works fine, if not I'll add that functionality. But yeah we can create a specific admin for this and have the credentials shared between Ashley and Griff.

On the auto updating,  we have to decide if we periodically re-sync them from their API.
Or only allow the admin to update their description/basic-info.

We should g

[2021-11-30 14:21] MoeNick commented on #117
@markoprljic So if its not rushed, please make it standard design for further integrations might we have in future and also have the same flow for new UI design.

[2021-11-30 14:31] markoprljic commented on #117
Project Card in the list
![Image 2021-11-30 at 3 30 39 pm](https://user-images.githubusercontent.com/5704285/144066159-65d41577-eefe-4b84-afa1-3f848312db35.jpg)

Project Details page
![Image 2021-11-30 at 3 27 20 pm](https://user-images.githubusercontent.com/5704285/144065582-4a760911-33a9-45ad-a9b2-17538e2ea76a.jpg)

[2021-11-30 14:59] divine-comedian commented on #310
testing on `serve.giveth.io`

sending the project mutation `addProject` with the same ETH address produces an error in the graphql

![image](https://user-images.githubusercontent.com/67759413/144071227-0259d894-c43d-43c2-922c-944d99ca462b.png)

thanks for testing @mohammadranjbarz

this looks to be finished!

[2021-11-30 17:06] mohammadranjbarz opened #431 "Cant load https://next.giveth.io/user/{address} in both production and staging"
![Screen Shot 1400-09-09 at 20.35.01.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/8e82ba1c-736d-44e1-b3af-706551fad6c3)

https://next.giveth.io/user/0x5AC583Feb2b1f288C0A51d6Cdca2e8c814BFE93B

https://giveth.io/user/0x5AC583Feb2b1f288C0A51d6Cdca2e8c814BFE93B

[2021-11-30 17:24] laurenluz commented on #117
@markoprljic can you also create the UI for the prompt to tweet?

- Giving Block projects will be on Giveth when we launch the GIVeconomy, but can't accept GIV tokens until Gemini lists it
- We will have GIV as an option in the token drop down
- If the user selects GIV, they get an alert, tooltip or popup giving them the option to tweet.
- Text for alert: "Giving Block projects only accept donatio

[2021-11-30 17:30] laurenluz commented on #416
oh sorry for the crossover friends, I made suggestions in here: https://github.com/Giveth/giveth-next/issues/117#issuecomment-982690876

[2021-11-30 23:37] laurenluz commented on #425
It may still take some time until the new design is implemented. This is currently creating issues for our users and I think it is important to remove asap.

![image](https://user-images.githubusercontent.com/75490971/144145227-3465b278-055e-4cfb-b9c4-b46180d70303.png)

[2021-11-30 23:45] laurenluz commented on #425
haha ok so @mateodaza removed it already actually 🤣

[2021-11-30 23:46] laurenluz commented on #425
oh man... sorry, I lied...

![image](https://user-images.githubusercontent.com/75490971/144146041-84b4ecd9-993d-4e8c-9dd3-c19c5953056e.png)

[2021-12-01 07:20] MoeNick commented on #425
I think Mateo merged it

[2021-12-01 12:44] MoeNick opened #439 "Transack pop up won't close after I click close button"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/57f9765d-9a69-4304-ad38-7e845ccfc04c)

[2021-12-01 13:08] DonnaOftadeh commented on #304
@MoeNick @RamRamez can you please let me know where to test this

[2021-12-01 13:27] markoprljic commented on #416
It's here https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1907%3A69961

[2021-12-01 13:30] markoprljic commented on #117
![Image 2021-12-01 at 2 30 33 pm](https://user-images.githubusercontent.com/5704285/144243094-2c839a8f-13d6-4289-8d24-ec2d7855db1f.jpg)

[2021-12-01 15:27] MoeNick opened #440 "Production: Cant see Filter by Trace"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/9536c46b-dd1b-4732-9f0e-c9d43b8db0d2)

[2021-12-01 15:29] #308 closed

[2021-12-01 15:38] laurenluz commented on #117
Niiiiiiiiiiice 🚀

[2021-12-01 16:07] MoeNick commented on #333
@DonnaOftadeh (both frontend-side / graphql)
- ENS
- Too large
- empty

[2021-12-01 16:12] MoeNick commented on #304
@DonnaOftadeh pls go forward both or them.

[2021-12-01 16:14] MoeNick commented on #411
Shall we keep it as it? @mohammadranjbarz

[2021-12-01 16:18] MoeNick commented on #439
@mateodaza it's all fine in staging, but still have problem on production

[2021-12-01 17:20] mohammadranjbarz commented on #411
No it's ok, maybe it was from my end
you can close this

[2021-12-02 01:12] Danibelle opened #442 "Add $IDLE and $YGG to token list"
From the [Idea channel on Giveth Discord](https://discord.com/channels/679428761438912522/689535474532221030/915742962204414062):

salomé — Today at 5:15 PM
Hi everyone @here  🙋🏻‍♀️
I am a swiss digital nomad and actively researching and working in  DAO Governance since 2020 🌎 currently contributing to Idle.Finance and YGG.
I am looking forward to learn and contribute with everyone here and especi

[2021-12-02 19:16] WhyldWanderer commented on #117
Here is the profile for the project owner of the Giving Block projects @MoeNick @CarlosQ96

0x07e995f06149352015BDe16530169cab76EF58FE - The Giving Block + Giveth = <3

Currently the email is set to info@giveth.io and I have asked Kay to create one just for this - givingblockprojects@giveth.io

[2021-12-02 19:24] laurenluz opened #444 "When the project doesn't load well, it still have Giveth as the banner image"
This is still happening

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/cd84448f-18c8-46a9-8f19-84dcbbd1d252)

I don't think it's good to put the Giveth picture as the project's banner ever.

Notably... when I refreshed the page, it loaded properly:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0f125008-3ad4-4431-9e96-223e8e617c2d)

[2021-12-02 19:24] laurenluz opened #445 "When the project doesn't load well, it still have Giveth as the banner image"
This is still happening

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/cd84448f-18c8-46a9-8f19-84dcbbd1d252)

I don't think it's good to put the Giveth picture as the project's banner ever.

Notably... when I refreshed the page, it loaded properly:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0f125008-3ad4-4431-9e96-223e8e617c2d)

[2021-12-02 19:24] #444 closed

[2021-12-02 19:26] laurenluz commented on #381
for me, when I like the update, it counts the like, but the heart doesn't turn red like it should

![image](https://user-images.githubusercontent.com/75490971/144489521-059cda8e-bb0d-4c6e-bae0-5b7e2ace25c4.png)

[2021-12-02 21:49] MoeNick commented on #381
Would u pls take look guys?

[2021-12-03 17:25] laurenluz opened #446 "Add flags to projects! So users can indicate if a project should be unverified or if it is violating our terms of service"
This can be after the GIVeconomy launch, but it's important.

We need the option for users to "flag" (any) project if it violates the terms and conditions or to "flag" verified projects if they have should be disqualified from the GIVbacks program. Disqualifying factors for GIVbacks/verification will be in our [documentation](https://docs.google.com/document/d/1ghXU9TZg6kR4Zx9lX_GO1U4qGY0vHa3nUo5t

[2021-12-04 16:56] Danibelle opened #447 "banner images are missing from projects"
projects old and new now just have GIVETH for the banner...
![image](https://user-images.githubusercontent.com/39466970/144717790-c0ba13de-afaf-4f11-9935-5e4e785fda08.png)

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-12-04 18:41] MoeNick commented on #447
Would u pls take a look @mateodaza

[2021-12-05 18:03] GriffGreen opened #448 "Allow Giveth Projects to Accept Any Token"
## 📋 Anything to add?

Losing the QR code has an impact :-/ We need to allow people to donate Any Token... even if it's not going to get GIVbacks or going to have a price for the donation page... people should be able to donate their airdrops

## ⏰ Urgency/Deadline/Blockers?

Depends on scope... if its easy-ish... lets get it in before launch

## ❓ Why is it important?

So many people have their o

[2021-12-06 11:47] RamRamez commented on #319
Fixed in PR #449

[2021-12-06 14:43] MoeNick commented on #448
@aminlatifi do we have a web service to fetch new token name and logo based on the address?

[2021-12-06 14:45] MoeNick commented on #448
@markoprljic @mosaeedi I think we can add an option that user select a radio button: "Select from currant token" OR "I have token Address" .
we need to review the UX and design the UI for it.

[2021-12-06 14:56] markoprljic commented on #448
It's just a matter of pasting a token address in the dropdown menu search
and it shows the token (if found) with link below "Import". Similar how you
do on any DEX.
No need for radio button.

On Mon, Dec 6, 2021 at 3:45 PM Moe Nick ***@***.***> wrote:

--
*Marko Prljić*
*Design Scientist*

[2021-12-06 14:59] aminlatifi commented on #448
No!

[2021-12-06 17:41] DonnaOftadeh opened #450 "Investigate on https://fortmatic.com/home to replace our Torus login"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-12-08 10:15] RamRamez opened #451 "Wrong URL on autopilot"
Autopilot mail is pointing to a wrong URL (`View my project` button)

[https://giveth.io/project/%7B%7B%20person.slug%20%7D%7D%C2%A0?utm_campaign=project+3+month+Check+Up+NEW+Giveth+2.0&utm_medium=email&utm_source=autopilot](https://giveth.io/project/%7B%7B%20person.slug%20%7D%7D%C2%A0?utm_campaign=project+3+month+Check+Up+NEW+Giveth+2.0&utm_medium=email&utm_source=autopilot)

![image](https://use

[2021-12-09 05:07] CarlosQ96 commented on #117
@MoeNick @GriffGreen @WhyldWanderer  Leaving a status report Here:
Total GivingBlocks Projects: 762
Projects that accept anonymous Donations: 719
Projects Exported: 713
Projects that do not accept anonymous donations: 43
Projects that do not work in the API or Website: 6

We have to decide what to do with the 43 projects that do not accept anonymous wallet addresses donations, which is the type of

[2021-12-09 07:57] markoprljic commented on #303
What is the **_final final final ultimate final not gonna change final decision_** on this, please? :)
I'm working on the Create project flow and at the bottom of the page right now I have this disclaimer attached. Let me know if I should remove it or keep it.

![Image 2021-12-09 at 8 56 53 am](https://user-images.githubusercontent.com/5704285/145356506-13633746-71c9-4c6a-b42e-8ef3ff3d7916.jpg)

[2021-12-09 08:02] MoeNick commented on #303
Its implemented now @markoprljic

Default value after creation will be set to null, means not reviewed.

In normal scenario, verification team review the project and set it to true or false (listed, delisted) in admin dashboard.

If it still remained not reviewed after 2 weeks (its configurable)  it will be set to true (listed) automatically.

[2021-12-09 08:21] markoprljic commented on #303
I'm not sure I understand the answer :(
Are projects listed after they are created, or are they unlisted by default and waiting to be reviewed?

[2021-12-09 08:25] MoeNick commented on #303
Not reviewed and delisted have the same behavior,  they wont show up in the projects page nor in search result.

We make them different just to tell the user that your project is reviewed and still not listed or still waiting for reviewing. @markoprljic

[2021-12-09 08:28] markoprljic commented on #303
Ok so this disclaimer at the bottom can stay?

[2021-12-09 08:35] MoeNick commented on #303
Yeah it's clear I think. Just from my side, better we have @WhyldWanderer confirmation.

[2021-12-09 12:50] WhyldWanderer commented on #303
YAY! @markoprljic it looks great!

Is it possible for the first bullet point to simply say "Newly published projects will be "unlisted" until reviewed by our team."?
"reviewed by our team" should link to https://docs.giveth.io/dapps/listedUnlisted

The reason is there are more requirements than just being in agreement with the Terms of Service and all of those things are outlined in the guide...

[2021-12-09 13:12] markoprljic commented on #303
Done.

[2021-12-09 22:27] #393 closed

[2021-12-09 22:36] MoeNick opened #453 "Remove Quality Score From Sorting"

[2021-12-09 22:36] MoeNick opened #454 "Add Filter by Trace"

[2021-12-09 22:39] MoeNick commented on #448
Please update us here if you have any pr for this. @mateodaza

[2021-12-09 22:40] MoeNick commented on #440
#454

[2021-12-09 22:43] MoeNick opened #456 "unsync Log-in / Log-out with onbaordjs"

[2021-12-09 22:46] #431 closed

[2021-12-09 22:53] MoeNick commented on #381
I still can't see my red heart on project update.

[2021-12-09 22:54] #369 closed

[2021-12-09 22:56] MoeNick commented on #306
@markoprljic
For this nextjs version up to 21st, What should we  do about this issue?
Shall we bring the text of what you designed in this pages ?

[2021-12-09 23:02] MoeNick commented on #319
@RamRamez I need a confirmation on nextjs version, is it ok?

[2021-12-09 23:05] MoeNick commented on #360
Im confused... We just accept eth address still? @CarlosQ96 @mohammadranjbarz @mateodaza

[2021-12-09 23:06] #269 closed

[2021-12-09 23:07] MoeNick commented on #416
pls relate your pr in nextjs version. @mateodaza

[2021-12-09 23:26] MoeNick commented on #424
@CarlosQ96 Shall we close it?

[2021-12-09 23:28] MoeNick commented on #366
Guys.
I need a response from you? @mateodaza @RamRamez

[2021-12-09 23:28] RamRamez commented on #319
Confirmed (still we need to remove pagination and add load more).

[2021-12-09 23:28] #319 closed

[2021-12-09 23:30] CarlosQ96 commented on #424
@MoeNick Not yet, I am focusing on priorities but this is only for one last bug.
The skip pagination sometimes bugs out, returning values from previous pages. So I talked to Mohammed about a posible solution, introducing another library.
Unless you want to, we can create another separate issue.
Which would be Fix pagination bug.

[2021-12-09 23:31] CarlosQ96 commented on #424
But everything else Ramin commented on has been fixed.

[2021-12-09 23:35] MoeNick commented on #424
@CarlosQ96 We do need good sorting and filtering on launch day and it's the minimum expectation that me and a user can have from an application. let's finish it up.
I cant find any priorities higher than a bug on production.

[2021-12-09 23:38] CarlosQ96 commented on #424
I meant, been focusing on the giving blocks, but will tackle this issue next!

[2021-12-09 23:40] MoeNick commented on #424
Appreciate it .
But pls let's not start new issues if we have bugs on production. I really missed this one.

[2021-12-09 23:52] MoeNick opened #457 "Sign-in and meta mask is connected- back to homepage, showed connect your wallet."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/fc70734c-583d-4ab5-b60a-77d18bb8925e)

[2021-12-10 06:40] markoprljic commented on #306
Yes this is resolved with new design.

On Thu, Dec 9, 2021, 23:57 Moe Nick ***@***.***> wrote:

[2021-12-10 14:51] divine-comedian commented on #356
still seeing errors while trying to visit a user profile from their project, but only sometimes

clean cache and cookies on brave
For Lauren's profile I get an error
![image](https://user-images.githubusercontent.com/67759413/145592796-29a99539-f1ce-403f-ba6b-982b2e987670.png)

then Ramins there is no problem

![image](https://user-images.githubusercontent.com/67759413/145592632-0b670816-293c-414d

[2021-12-10 17:26] divine-comedian commented on #453
testing on next.giveth.io

going on the sort drop down menu there is no longer quality score, only default

looks to be resolved!

![image](https://user-images.githubusercontent.com/67759413/145615936-ed8cdd4d-51f3-4c65-8847-5f2025a459ac.png)

[2021-12-10 17:27] divine-comedian commented on #345
can you clarify how to test this issue?

[2021-12-10 19:59] WhyldWanderer commented on #387
This looks fixed to me!
![image](https://user-images.githubusercontent.com/74267818/145634157-4b2e93fd-4543-4e49-8b18-1f1d6d59a368.png)

[2021-12-11 00:23] WhyldWanderer commented on #397
Complete!

[2021-12-11 07:58] mohammadranjbarz commented on #345
I did nothing for this issue yet,
@MoeNick can you specify the `everywhere`, I think it can be part of DOD ( because I don't know where we show cancelled projects now)

[2021-12-11 08:45] MoeNick commented on #345
If Cancelled (Only by admin) it means no one is able to see it in projects list, search, or even see its detail if the user has the direct url, But Project owner of this project can see it in his list in his account. but cant see the details, can't even edit or share it.
I now it's both F.E. and Backend, but neeed your help to know do we have any restriction on the backend for such projects , what

[2021-12-11 08:57] mohammadranjbarz commented on #345
Thanks, it's almost clear now,
I think we may not have any risk and it can be implemented, but it's good to hear @mateodaza  opinion

[2021-12-11 15:39] mateodaza commented on #447
This is the actual project, the slug was changed https://giveth.io/project/The-Wellness-Bus-0

![image](https://user-images.githubusercontent.com/18689480/145682417-72e70320-da08-4a5d-bc0e-f9906863739c.png)

[2021-12-11 15:42] mateodaza commented on #442
@Danibelle please confirm these are the right tokens

$IDLE => https://etherscan.io/token/0x875773784Af8135eA0ef43b5a374AaD105c5D39e
$YGG => https://etherscan.io/token/0x25f8087ead173b73d6e8b84329989a8eea16cf73

[2021-12-11 15:42] mateodaza commented on #440
Closing because it has a duplicate

[2021-12-11 15:42] #440 closed

[2021-12-11 15:43] mateodaza commented on #428
@RamRamez I think the work you're doing with the authentication relates to this, can you take a look?

[2021-12-11 15:44] mateodaza commented on #425
Coming next upgrade

[2021-12-11 15:45] mateodaza commented on #424
@MoeNick can we migrate this to the typescript repo?

[2021-12-11 15:49] mateodaza commented on #415
why? what's the feature behind this, we could remove abilities to the user but not sure if deleting is a good idea

[2021-12-11 15:50] mateodaza commented on #421
closing because of duplicate [#381 ](https://github.com/Giveth/giveth-next/issues/381)

[2021-12-11 15:50] #421 closed

[2021-12-11 15:53] mateodaza commented on #416
![image](https://user-images.githubusercontent.com/18689480/145682874-c36d3582-72be-469f-a76d-b708697a8a52.png)

in staging

[2021-12-11 15:54] #411 closed

[2021-12-11 15:55] mateodaza commented on #409
issue created [here](https://github.com/Giveth/giveth-next/issues/407)

[2021-12-11 15:55] #409 closed

[2021-12-11 16:00] mateodaza commented on #399
removed formatting on cards, this is solved on staging now

[2021-12-11 16:00] #399 closed

[2021-12-11 16:01] mateodaza commented on #398
Pagination where? The donations?

[2021-12-11 16:02] #397 closed

[2021-12-11 16:04] mateodaza commented on #396
@WhyldWanderer let me know what to add in the UX!

[2021-12-11 16:05] mateodaza commented on #394
Not sure if we can change this

[2021-12-11 16:06] mateodaza commented on #386
Relates to auth improvements @RamRamez is working on

[2021-12-11 16:09] mateodaza commented on #378
Closing as we have a new repo for this

[2021-12-11 16:09] #378 closed

[2021-12-11 16:11] mateodaza commented on #373
I'm sure new design will take this into consideration, so no need to focus now on this? @MoeNick @laurenluz what do you think?

[2021-12-11 16:20] mateodaza commented on #365
This is excellent feedback!! we'll have this in our bucket for later. Thanks

[2021-12-11 16:21] mateodaza commented on #360
@divine-comedian mentioned it was solved on the other issue, can we close?

[2021-12-11 16:22] mateodaza commented on #358
sneaky zIndex haha

[2021-12-11 16:23] mateodaza commented on #356
I'll take a look

[2021-12-11 16:24] CarlosQ96 commented on #349
This is fixed @laurenluz @mateodaza

[2021-12-11 16:25] #349 closed

[2021-12-11 16:35] mateodaza commented on #345
Yes this is correct. If admin cancelled the project the user can't activate it back, if user deactivated it he's allowed. It's already like this in the backend. Public queries for projects won't show deactivated nor cancelled projects. They will be shown for the owner but he won't be able to change the status.

We can close this unless you see something outstanding @MoeNick

[2021-12-11 17:00] mateodaza commented on #385
[duplicate](https://github.com/Giveth/giveth-next/issues/291)

[2021-12-11 17:00] #385 closed

[2021-12-11 17:02] geleeroyale opened #459 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
Would be nice to have the chance to select multiple projects and donate to all of them at the same time (Gitcoin style)

[2021-12-11 17:04] mateodaza commented on #173
@mohammadranjbarz what's the status of this? last I know we left it aside because priority

[2021-12-11 17:05] mateodaza commented on #207
I believe this is done @MoeNick @CarlosQ96 please confirm

[2021-12-11 17:06] mateodaza commented on #366
@RamRamez is on this - actually there are many issues related to this

[2021-12-11 17:08] #447 closed

[2021-12-11 17:08] #453 closed

[2021-12-11 17:09] #439 closed

[2021-12-11 17:10] #311 closed

[2021-12-11 17:12] CarlosQ96 commented on #207
This is done correct. There is no filter by slug but there is by title I think that should be ok for now.

[2021-12-11 17:12] #207 closed

[2021-12-11 17:14] mateodaza commented on #306
![image](https://user-images.githubusercontent.com/18689480/145685491-c55ce1e1-af87-4dfa-aa82-1d0811121f66.png)

I'll add the message and that's it for the 21st release, then we focus on the new version

[2021-12-11 17:18] mateodaza commented on #370
This is fixed

[2021-12-11 17:18] #370 closed

[2021-12-11 18:48] #106 closed

[2021-12-11 18:52] mateodaza opened #462 "Adds more tokens to default list on frontend and pricing library"
Besides $IDLE $YGG and NuCypher we will add more tokens to monoswap and the default list that the giving block provides [here](https://support.gemini.com/hc/en-us/articles/115005868106-What-cryptos-are-supported-on-the-Gemini-Exchange-)

relates to #442 and #407

[2021-12-11 19:15] mateodaza commented on #358
This is fixed with the new header

[2021-12-11 19:15] #358 closed

[2021-12-11 21:44] #454 closed

[2021-12-11 21:49] mohammadranjbarz commented on #360
@MoeNick  @divine-comedian you can close this, it is fixed now
check https://github.com/Giveth/giveth-next/issues/351#issuecomment-976569016

[2021-12-11 21:51] mohammadranjbarz commented on #173
It's done , we can close it, now we have projects in givethio, and sync the trace campaigns and givethio projects,
( We just need to aggregate donations, but we have another issue for that, so we can close this issue)

[2021-12-12 20:33] RamRamez commented on #366
Related to PR #465
@DonnaOftadeh Please check it

[2021-12-12 20:33] RamRamez commented on #386
Related to PR #465
@DonnaOftadeh Please check it

[2021-12-12 20:35] RamRamez commented on #428
Related to PR #465
@DonnaOftadeh Please check it

[2021-12-12 20:49] RamRamez commented on #457
Related to PR #465
@MoeNick Please check it

[2021-12-12 20:54] RamRamez commented on #309
It's related to PR #465
@DonnaOftadeh Please check again

[2021-12-12 20:56] RamRamez commented on #456
It's related to PR #465
@MoeNick Please check it

[2021-12-12 22:00] RamRamez commented on #455
Related to #465
@divine-comedian Please check the app again. What do you expect the app to do when you sign-out? If you close browser or its tab, the Torus session will be ended.

[2021-12-13 10:25] MoeNick commented on #424
Yeah. But Let's make sure sorting works fine on Lauren's version in nextjs. I tested it because we removed pagination, seems it's working.

[2021-12-13 10:28] #415 closed

[2021-12-13 10:33] MoeNick opened #466 "Add change network button to wrong network modal"

[2021-12-13 10:41] MoeNick opened #467 "NaN wallet"
Metamask.
Hav the profile, asjed for sig0in 2 times and I signed 2 times in order.
Move to donate page,

https://media.discordapp.net/attachments/826746756195680286/919896263745478686/unknown.png?width=616&height=670

[2021-12-13 10:48] MoeNick commented on #398
I think she was mentioning the projects pagination. Move it to staging just to make sure it's working now.

[2021-12-13 10:49] MoeNick commented on #394
Let's close it for now

[2021-12-13 10:50] #394 closed

[2021-12-13 10:51] MoeNick commented on #373
I think what we have already on staging is fine both on next and typescript.

[2021-12-13 11:03] MoeNick commented on #173
I need @divine-comedian or @WhyldWanderer approve the functionality to make sure we won't have problem in production. Shall you please?

[2021-12-13 12:23] divine-comedian commented on #356
seems to be resolved!

no errors while visting these profile pages via their projects
![image](https://user-images.githubusercontent.com/67759413/145811347-03618a08-f3a0-482e-98a0-17f70d4b25b9.png)

[2021-12-13 12:26] divine-comedian commented on #424
testing on `next.giveth.io`

I tried to sort by creation date - DESCENDING
I'm thrown an error and the page crashes

![image](https://user-images.githubusercontent.com/67759413/145811961-76f0c6c5-8117-4395-b90c-f4741ebcdc94.png)

[2021-12-13 12:31] divine-comedian commented on #455
the issue seems to be resolved in the new navbar header - now I have clear options to change my wallet and sign out from Torus

looking VERY GOOD you guys!!!
![image](https://user-images.githubusercontent.com/67759413/145812740-32248ec3-90bd-4ba9-b5cb-84c2fa9148b1.png)

[2021-12-13 12:37] MoeNick opened #469 "I have double menu or header in my account"
With the new  header we can remove the old menu.

![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/c9ddcd7c-2a68-4cea-9ed0-2da7667f44d8)

[2021-12-13 12:46] MoeNick opened #470 "I need to see my connected wallet if I have an account"
As a user, If I have an account after I signed in, I need to see my address somewhere:

![image](https://user-images.githubusercontent.com/80677512/145815260-c5767990-56dd-463a-be28-4006c31c86db.png)

[2021-12-13 12:48] MoeNick commented on #470
@markoprljic do you have any idea?

[2021-12-13 13:05] MoeNick opened #471 "I have a not-connected address, but it shows me sign-in instead of connect."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/e792d920-5c42-410a-a7a2-a47dac3f4d02)

[2021-12-13 13:33] RamRamez commented on #471
@MoeNick Yeah, that MetaMask account is not connected, but one of your other MetaMask accounts are connected and the App will connect through that one.

[2021-12-13 13:40] RamRamez opened #472 "Use "Link" for footer links to preserve React state and not reloading the page"

[2021-12-13 13:58] RamRamez commented on #466
Resolved in PR #468

[2021-12-13 13:59] RamRamez commented on #469
Resolved in PR #474

[2021-12-13 14:37] markoprljic commented on #470
We show wallet address under Wallet.

![Image 2021-12-13 at 3 36 16 pm](https://user-images.githubusercontent.com/5704285/145831573-743ffe2f-b068-445f-9a71-2f22a8bb0bc0.jpg)

[2021-12-13 14:42] MoeNick commented on #470
Thanks @markoprljic
@RamRamez can u pls take this issue, it's a bug.

[2021-12-13 14:56] MoeNick commented on #424
@RamRamez are you working in this issue or it's backend?

[2021-12-13 15:03] RamRamez commented on #470
Resolved in PR #475
@MoeNick Please check it

[2021-12-13 15:23] RamRamez commented on #424
Resolved in PR #476:
1. Fix richTextViewer error for null content
2. Fix NextJS config for image sources for new givingBlock images

@divine-comedian Please check it

[2021-12-13 15:41] laurenluz opened #477 "GIV is listed twice in the token list"
it's at the very top, and also part way down the list (in the alphabetical order). would be better to have it appear only once

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d285c1d1-44c2-4c78-808b-e58af4db4122)

[2021-12-13 15:42] laurenluz commented on #477
I'm testing on next.giveth.io btw, looking at a Giving block project

[2021-12-13 15:46] laurenluz opened #478 "GIV is not listed in the token list for non-givingblock projects"
Is this really our full list of tokens? seems on the short side....

also, there was no GIV :( I'm testing on next.giveth.io and connected to xdai

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/eb95b41b-b93a-4d2b-b16f-823c7daffe8a)

[2021-12-13 15:47] mateodaza commented on #478
on xDAI we have a small list, if you want more tokens lmk - I didn't add the GIV token to the rest of networks yet but I will. With the testGIV token. Will let u know

[2021-12-13 15:48] laurenluz opened #479 "In the header, "Community" should be "Join""
This links to giveth.io/join ... should be called "Join" as it is in the previous version

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ff2b7a66-f7eb-4d41-924d-a3d701fe5e8f)

[2021-12-13 15:53] laurenluz opened #480 "In the "help get GIV on Gemini" tweet, the URL for the project is not there"
Testing on next.giveth.io

When I click to tweet, the tweet loads just fine, but "url" should be the project's url

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/dbd0355d-2be3-49fc-8fb9-d5d418120004)

[2021-12-13 15:57] MoeNick commented on #479
I think @markoprljic said to change it to Community in design channel.

[2021-12-13 15:59] RamRamez commented on #467
Resolved in PR #475

[2021-12-13 16:00] laurenluz opened #481 "Giving block projects can't accept donations on xdai - this should be explicit"
I'm connected to xdai and it seems I can donate just fine... but all the tokens are mainnet tokens & giving block only operates on xdai

We should have an explicit notification that says "Giving Block projects only accept donations on mainnet. Please switch your network."

Would be amazing if the "switch your network" was clickable and opened that in metamask

![image.png](https://images.zenhubuse

[2021-12-13 16:01] mateodaza commented on #481
Rayos! I forgot - will do

Fastest tester alive, thank you

[2021-12-13 16:05] RamRamez commented on #479
@MoeNick Should I change it or it still needs clarification?

[2021-12-13 16:06] laurenluz opened #482 "Change "zero fees" to "zero added fees"??"
Honestly... this part is confusing...

Giveth isn't charging fees regardless of whether someone is paying with crypto or with credit card...

so like... this is "zero added fees' for both...

OR

"zero fees" should be "gas fees" if "bank fees" stays like that... you know?

as it is, makes no sense

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a41afcf0-0240-4b23-b972-2

[2021-12-13 16:06] MoeNick commented on #479
Hold on pls.

[2021-12-13 16:07] markoprljic commented on #479
Please change it to Community @RamRamez

[2021-12-13 16:09] MoeNick commented on #479
@laurenluz before closing this issue, pls consider we have to change it in GivEconomy too.

[2021-12-13 16:21] markoprljic commented on #101
![Image 2021-12-13 at 5 21 10 pm](https://user-images.githubusercontent.com/5704285/145849226-8fce766e-75a0-41f6-9ed8-f27fe91464b6.jpg)

[2021-12-13 16:21] #101 closed

[2021-12-13 16:54] divine-comedian opened #483 "responsive design - new navbar doesn't respond well to small screens"
sliding the screen to fit smaller screens / mobile the elements of the navbar go off the screen and do not adjust
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/6f7fe3de-0f87-4975-9b2d-08d5fcd9bfc3)

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/f3077bb1-15b3-4aaa-9dd5-24f528215b16)

[2021-12-13 16:56] divine-comedian opened #484 "footer links covered up by background image"
on the create project page (for example) the footer links are partially illegible by the background images

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/80419e30-c8b9-482a-b5d4-a554850fe6f8)

[2021-12-13 16:59] divine-comedian opened #485 "report a bug on my account card should open a new window"
when I click this button to report a bug it redirects the current page to a fresh github issue - ideally when I want to report a bug it should open a new tab so I don't lose my current screen

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/82877cc9-0fd1-4938-bd6b-9e4695cc4abb)

[2021-12-13 17:12] divine-comedian opened #486 "add drop down menu for non-signed in users"
currently the only way to switch wallet provider is to sign-in with the currently cached wallet provider then click `change wallet`

one solution we proposed was to have the regular drop down menu appear which allows the user to change wallet without having to sign-in, clicking anyother button except for `change wallet` will prompt the user to sign in with the current wallet provider

[2021-12-13 17:27] divine-comedian commented on #424
its working well now!

![image](https://user-images.githubusercontent.com/67759413/145859584-d0d84668-ba8e-49e6-b7f4-a554ce64ee88.png)

[2021-12-13 20:38] laurenluz commented on #479
@markoprljic We changed it from "Community" to "Join" on the DApp due to user feedback and comms discussion. It should be "Join".

The page links to "giveth.io/join"

The page is called "Join our Community"

The header should say "Join"

[2021-12-13 21:22] laurenluz opened #488 "Can't select ETH as a token to donate to Giving block projects"

[2021-12-13 21:48] mateodaza commented on #488
check now please

[2021-12-13 21:52] MoeNick commented on #479
@RamRamez sorry for double work, pls change it.

[2021-12-13 21:55] MoeNick commented on #486
I was thinking of this flow:
![Slide1.JPG](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/d9fb2ec1-bfd6-4a70-8f04-e425086145b9)
![Slide2.JPG](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/7b3afb61-80a1-48c4-83db-47a3d88030e2)
![Slide3.JPG](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/8b9e8d50-01ef-4f43-ac88-f9e4b7baa91e)
![Slide4.JPG](https://images.

[2021-12-13 22:15] markoprljic commented on #479
I'm wondering what the user feedback was and arguments during the comms discussion?

I believe that the term Join can be misleading and make users think this is where they register an account for Giveth.

Also, the content on that page is all about Community and the term in the main navigation does not reflect what is actually on that page.

Finally, it's one more emphasized call to action in the

[2021-12-13 22:28] MoeNick commented on #479
@markoprljic
It's so admirable that you say your opinions professionally and it could be more professional to consider this fact that we dont have ANY   user behavior testing and analytics, what we have done so far was based on these common feedbacks that we have from comms cause they face the clients (users) more than us.

[2021-12-14 03:24] laurenluz commented on #479
What we have is feedback from users like Mia who join Giveth and try to orient themselves, but are not deep in the weeds.

It was her feedback that sparked this conversation months ago when we changed it from community to join.

But whatever.. leave it as communtiy then, it's not critical and we can change it later if people give us more of the same feedback we got before.

[2021-12-14 11:37] divine-comedian commented on #486
@MoeNick  this flow looks good!

[2021-12-14 14:44] MoeNick commented on #486
@markoprljic would you pls confirm for nextjs version?

[2021-12-14 14:53] markoprljic commented on #486
The drop-down should overlay the rewards button.

[2021-12-14 15:51] MoeNick opened #489 "Select Wallet Modal Redesign: Advice for web2 users to select Torus"

[2021-12-14 15:53] MoeNick opened #490 "The drop-down should overlay the rewards button."
The drop-down should overlay the rewards button.

_Originally posted by @markoprljic in https://github.com/Giveth/giveth-next/issues/486#issuecomment-993623619_

[2021-12-14 15:54] #479 closed

[2021-12-14 15:58] MoeNick commented on #489
@markoprljic @laurenluz your comments are appreciated

[2021-12-14 15:59] WhyldWanderer commented on #396
"A traceable project has been verified as well as upgraded to a Campaign on Giveth TRACE for transparent and accountable fund management."

@mateodaza

[2021-12-14 16:01] markoprljic commented on #489
Working on it. Consider it solved.

[2021-12-14 22:56] RamRamez opened #491 "Implement our wallet modal and bypass onboardjs one"

[2021-12-15 02:01] laurenluz commented on #488
looks good! but btw I was connected to xDai and so in fact I shouldn't be seeing that list... but I think that's another issue

![image](https://user-images.githubusercontent.com/75490971/146109246-3c4a6e15-dcfe-4b63-bab1-1c8eb3913e49.png)

[2021-12-15 02:03] laurenluz commented on #478
nice! it's there

![image](https://user-images.githubusercontent.com/75490971/146109524-3642d178-3a33-472c-9282-6d1caa8dbfa0.png)

[2021-12-15 02:04] mateodaza commented on #488
I think that if you try to donate it won't let you

[2021-12-15 02:06] laurenluz commented on #481
love the notice, but I think it's a bit confusing still that I can select mainnet tokens & start typing in amount to donate... when I'm connected to xdai

Can we make it so that the donation field box is greyed out if the user is connected to any other network but mainnet? or is that against our flow? @mateodaza

![image](https://user-images.githubusercontent.com/75490971/146109715-62700d68-b324-4

[2021-12-15 02:09] mateodaza commented on #481
You got it 😄

[2021-12-15 08:26] SalomeBernhart commented on #442
Hi @mateodaza thanks for taking the time to add the tokens, I confirm these are the right addresses.

[2021-12-15 09:11] #368 closed

[2021-12-15 09:12] MoeNick opened #493 "Campaigns Archived and Verified status for launch."
Spreadsheet is finalized by @WhyldWanderer and @mohammadranjbarz has access over it.
We have to:
1- Make finale statuses in trace db
2- relate the Campaigns that have related projects on io

[2021-12-15 09:23] MoeNick commented on #486
@RamRamez
The final flow is this:
https://whimsical.com/giveth-SLPFhtNjpD4G4L84cLF2jD

[2021-12-15 10:32] mohammadranjbarz commented on #493
@MoeNick  It's done

[2021-12-15 10:48] MoeNick commented on #486
Questions  just to keep the record of it:
1- Sign Out should be hidden before sign-in? and be appear after the user signs the address with his wallet?
2- We can't disconnect the app from wallet, but we only can invalidate the sign token form the app. so what behavior do you except after sign out? shout it be the state that user see the sign modal? or it should get back to SIN IN button from the he

[2021-12-15 10:52] MoeNick commented on #488
@laurenluz would u pls confirm?

[2021-12-15 10:52] #467 closed

[2021-12-15 10:53] MoeNick commented on #145
@divine-comedian shall we close it?

[2021-12-15 11:14] RamRamez commented on #490
Resolved in PR #494

[2021-12-15 11:22] MoeNick opened #495 "Change SIGN-IN function to select wallet instead of check wallet"
It prevents this bug: If I select a wallet and couldn't make it connected, clicking on Sign-In let me choose another wallet and Im continue with the new wallet.

[2021-12-15 11:38] RamRamez commented on #495
Resolved in PR #496

[2021-12-15 12:40] divine-comedian commented on #145
very old issue - looks to be resolved

[2021-12-15 12:41] #145 closed

[2021-12-15 12:46] divine-comedian commented on #486
1. - Yes
2. - When user signs-out it should show the initial state before sign-in - is it possible to return the user to this state?
![image](https://user-images.githubusercontent.com/67759413/146189000-b47e8eba-8762-4e6b-9b07-04bd22a97971.png)

[2021-12-15 14:07] DonnaOftadeh opened #497 "Sorting - Creation date Ascending or descending sort should be changed to newest and oldest"

[2021-12-15 14:08] DonnaOftadeh commented on #497
![image](https://user-images.githubusercontent.com/53400757/146201260-70854250-e64e-4a1a-a064-437a3f34fd23.png)

[2021-12-15 14:10] markoprljic commented on #486
@divine-comedian Here's a demo https://www.figma.com/proto/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?page-id=2354%3A78970&node-id=2981%3A83718&viewport=380%2C48%2C0.14&scaling=min-zoom&starting-point-node-id=2981%3A83718

@MoeNick This is how the flow should be.

[2021-12-15 14:14] DonnaOftadeh opened #498 "When not wallet is not connected it should show an appropriate pop-up message"

[2021-12-15 14:18] DonnaOftadeh commented on #498
Currently when not connect and try to donate, it doesn't show any token in the list:
![image](https://user-images.githubusercontent.com/53400757/146202584-6b46e145-7e33-4a34-b252-805539c0f872.png)
It should show an appropriate message to the user instead, like in GIVeconomy
![image](https://user-images.githubusercontent.com/53400757/146202941-b73120f0-e7d3-473a-9a0a-1e503e87ece5.png)

[2021-12-15 14:19] DonnaOftadeh opened #499 "The top menu font and design should change"

[2021-12-15 14:20] DonnaOftadeh commented on #499
![image](https://user-images.githubusercontent.com/53400757/146203316-08e5d24e-86cd-437e-83c9-5605f89561ad.png)

[2021-12-15 14:24] DonnaOftadeh opened #500 "Donation Page - We have GIV token twice in the token list"

[2021-12-15 14:26] DonnaOftadeh opened #501 "Donation Page - it seems ETH donation type is missed"

[2021-12-15 14:26] DonnaOftadeh commented on #501
![image](https://user-images.githubusercontent.com/53400757/146204341-df5007f2-242f-4ed2-83e5-830303427ee1.png)

[2021-12-15 14:28] DonnaOftadeh opened #502 "Donation page- should change "no fees" to something else that shows Giveth doesn't charge fees but still they should pay the gas fee"

[2021-12-15 14:29] DonnaOftadeh commented on #502
![image](https://user-images.githubusercontent.com/53400757/146204807-fbde6e47-8499-4aab-8250-d12757e8d44c.png)
@MoeNick need to be discussed with Griff

[2021-12-15 14:38] DonnaOftadeh opened #503 "Donation page - when connected to a wrong network we should add a section in the "wring network" pop-up message to show all the available working networks (Rinkeby, Rpasten,..) and user can choose by clicking on it"

[2021-12-15 14:38] DonnaOftadeh commented on #503
![image](https://user-images.githubusercontent.com/53400757/146206367-8dbcdd0b-b5d2-4d34-81fa-145d0eff7486.png)

[2021-12-15 14:42] DonnaOftadeh opened #504 "Donation page - Token list: it is nice to have both the amount of tokens that user has in their wallet and bring the tokens that the user has to the top and list it from the biggest amount to the least"

[2021-12-15 14:42] DonnaOftadeh commented on #504
![image](https://user-images.githubusercontent.com/53400757/146207053-ec71820f-9ea7-41b9-b1cc-7ff3de2f35e7.png)

[2021-12-15 14:50] DonnaOftadeh opened #505 "Donation Page- cannot donate on xDAI - it should show user that she/he should switch to mainnet and cannot donate on xDai"

[2021-12-15 14:51] DonnaOftadeh commented on #505
![image](https://user-images.githubusercontent.com/53400757/146208511-dce85d9e-9893-44f1-a134-81901891627d.png)

[2021-12-15 14:52] mateodaza commented on #505
![image](https://user-images.githubusercontent.com/18689480/146208768-382eb35b-4336-458a-9c75-cd093fd7c933.png)
 don't this appear to you? - also when you try to donate you get another popup explaining that

[2021-12-15 15:01] divine-comedian commented on #486
@markoprljic  there's just one state that's missing from the figma - its the user who has a profile and a wallet connected - normally if they have a profile we would show them their username instead of their ethereum address?

[2021-12-15 15:01] DonnaOftadeh commented on #505
Now it seems working as you said. This is the outcome of our testing session with Griff two days ago. I am going to test the issues myself then raise them - Thanks Mateo

[2021-12-15 15:01] mateodaza commented on #505
Awesome @DonnaOftadeh thanks you! - And yes please revise everything again, made lots of changes since Monday

[2021-12-15 15:05] DonnaOftadeh opened #506 "Community page - We should change discourse to Forum"

[2021-12-15 15:06] DonnaOftadeh commented on #506
![image](https://user-images.githubusercontent.com/53400757/146211292-4bc9a814-e5f1-489f-9e0c-f79e81fc2b80.png)
Griff suggested to change it to something else

[2021-12-15 15:12] DonnaOftadeh opened #507 "Donation page - Text is cut off"

[2021-12-15 15:13] DonnaOftadeh commented on #507
![image](https://user-images.githubusercontent.com/53400757/146212389-99503dbb-e710-4009-af07-73ef447c4bef.png)

[2021-12-15 15:14] markoprljic commented on #486
Of course we do. It will be like that.

[2021-12-15 15:21] WhyldWanderer commented on #493
I can see that all of the Campaigns that needed to be archived are now archived.

Question: Dont we need to make it so that no new campaigns can be created unless they first create a project on io and then migrate it to TRACE? Has this been done?

Im not sure how to check the status of the database to see if they are 'verified' or not... to ensure that donors to these campaigns will receive GIVbac

[2021-12-15 15:22] DonnaOftadeh opened #508 "Donation page - on Rapsten although the transaction went through the in progress pop-up still was shown"

[2021-12-15 15:25] DonnaOftadeh commented on #508
![image](https://user-images.githubusercontent.com/53400757/146214102-4c68456b-bd6f-4070-9029-cc4f449aea9e.png)

[2021-12-15 15:29] DonnaOftadeh commented on #508
![image](https://user-images.githubusercontent.com/53400757/146214940-7a4d2d8e-92b2-445e-ad87-e21cd94c1754.png)

[2021-12-15 15:40] DonnaOftadeh opened #509 "FAQ - we should change the tax deductible question answer to something that convey that when we get people tokens it looses its tax deduction status (probably!)"

[2021-12-15 15:40] DonnaOftadeh commented on #509
![image](https://user-images.githubusercontent.com/53400757/146217187-57f523c7-2338-4bc2-9ed0-db757463ae1d.png)

[2021-12-15 15:48] DonnaOftadeh opened #511 "Footer - We're hiring has accent on e , should change to e without accent"

[2021-12-15 15:48] DonnaOftadeh commented on #511
![image](https://user-images.githubusercontent.com/53400757/146218629-1fa38a23-9eac-4c0e-a6ce-068d20a1aa6b.png)

[2021-12-15 16:00] divine-comedian commented on #495
testing `next.giveth.io`

on first load -
![image](https://user-images.githubusercontent.com/67759413/146220686-b9726809-e8e2-4940-92da-775e99c67967.png)

this opens onboardJS then once I select my wallet I can sign in with the chosen wallet

[2021-12-15 16:03] divine-comedian commented on #490
the drop-down menu now overlaps on top of the GIV token counter
![image](https://user-images.githubusercontent.com/67759413/146221218-f10afef9-4bec-403a-93a6-bd59ba305828.png)

I think this was the issue? looks to be resolved.

[2021-12-15 16:07] divine-comedian commented on #491
is this the correct modal to show?

![image](https://user-images.githubusercontent.com/67759413/146221869-6c798682-3b7f-462a-a5cc-cc14c3fe9f1c.png)

[2021-12-15 16:15] divine-comedian commented on #470
testing `next.giveth.io`

checking out the new drop down menu I am a user connected and have a profile - the drop down menu shows me the abbreviated ethereum address that I am currently using.
![image](https://user-images.githubusercontent.com/67759413/146223290-a04a4776-a9ee-4388-ad7d-1b248365de70.png)
 looks to be resolved!

[2021-12-15 16:17] divine-comedian commented on #469
testing `next.giveth.io`
old menu is gone!

the new header and drop down menu looks great!
![image](https://user-images.githubusercontent.com/67759413/146223521-24bdf2f6-0845-4781-bda5-4f2d479a7ffc.png)

[2021-12-15 16:19] divine-comedian commented on #472
all the footer links are working properly so looks like this didn't break anything!

resolved!

[2021-12-15 16:20] divine-comedian commented on #471
can we move this issue? looks to be a testing error -

[2021-12-15 16:21] divine-comedian commented on #360
yes! this is resolved for the other issue

[2021-12-15 16:32] divine-comedian opened #514 "user can choose "The Giving Block" as a category when making a project."
going through the create project flow I noticed I can select `The Giving Block` is this intentional?
it seems a bit confusing to have this as an option for new projects - can it be removed as an option?
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/2ee9f62c-ec7e-4fac-82fd-1e4a6cd40468)

[2021-12-15 16:39] divine-comedian commented on #309
testing `next.giveth.io`

I can successfully see the projects full description when clicking `learn more` on the projects page
![image](https://user-images.githubusercontent.com/67759413/146227199-5b5aa3f5-7a71-4ce2-8989-6a4232acd28c.png)

[2021-12-15 16:40] divine-comedian commented on #456
both of the issues that we're blocked by this issue I successfully tested - not sure how to test this one.

[2021-12-15 16:41] divine-comedian commented on #366
this looks to be resolved in the new navbar updates!

I think this is done/no longer relevant

[2021-12-15 16:43] divine-comedian commented on #386
testing `next.giveth.io`
brave browser

I do not receive any prompts to sign-in while navigating the items in the footer
looks to be resolved!

[2021-12-15 16:46] divine-comedian commented on #291
testing on `next.giveth.io` and `giveth.io`

I can see that on staging this link goes to - https://next.giveth.io/donate/giveth-2021:-retreat-to-the-future

and on production - https://giveth.io/donate/the-giveth-community-of-makers

no more 404 errors! looks to be resolved.

[2021-12-15 19:44] geleeroyale opened #515 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
When I try to connect the MetaMask wallet to the app it just hangs at Login and authorise your wallet.
Have tried with Brave browser (shields down) and Vivaldi (new install, no extensions except MetaMask).
Can connect MM no problem to other sites, e.g. Gitcoin.
![image](https://api.typeform.com/responses/files/3dc82540db0ba5b7d103077dc2e55

[2021-12-15 20:13] #291 closed

[2021-12-15 20:14] #386 closed

[2021-12-15 20:14] #456 closed

[2021-12-15 20:20] #360 closed

[2021-12-15 20:21] #471 closed

[2021-12-15 20:21] #469 closed

[2021-12-15 20:22] #470 closed

[2021-12-15 20:23] #422 closed

[2021-12-15 20:23] #490 closed

[2021-12-15 20:24] #495 closed

[2021-12-15 20:34] Danibelle opened #516 "Add Filter: Accepts GIV Tokens"
Most projects at launch are from Giving Block and only accept tokens listed on Gemini - which will not include GIV (yet).

As a Donor I want to see a list of projects that accept GIV tokens.

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-12-15 20:40] MoeNick commented on #493
Good point @WhyldWanderer
@mohammadranjbarz can we remove campaign creation? After launch is going to be io first.
and about verified status I think we don't have bandwith to show it but we can do it offline for you.

[2021-12-15 20:44] MoeNick commented on #516
@mateodaza have any idea how we can tell it to backend to make a filter for it?

[2021-12-15 20:50] WhyldWanderer commented on #493
I think you could maybe just link the "Start a Campaign" button to this documentation:
https://docs.giveth.io/dapps/makeTraceableProject

[2021-12-15 21:06] MoeNick commented on #493
We can put "Make your project traceable" in the Verified projects. ideas?

[2021-12-15 21:12] MoeNick commented on #486
Im a little bit confused, we cant do it for Laurens version for sure, Is it desired flow for typescript version?

And what about https://whimsical.com/giveth-SLPFhtNjpD4G4L84cLF2jD ? is it finalized or not?
@markoprljic

[2021-12-15 21:15] MoeNick commented on #502
@GriffGreen @divine-comedian  can you pls suggest the wording there?

[2021-12-15 21:17] mateodaza commented on #502
I think this is an old screenshot from Donna. Last version is not like this
![image](https://user-images.githubusercontent.com/18689480/146266214-24e57de4-8fad-4787-84a0-bbf064258069.png)

@DonnaOftadeh can you confirm and please check again with the latest

[2021-12-15 21:43] mateodaza opened #517 "Error 400 on creating a project uploading image"
![image](https://user-images.githubusercontent.com/18689480/146269461-1b8d9de0-80e7-43c9-9d3c-11edfdf6f09d.png)

[2021-12-15 21:56] WhyldWanderer commented on #493
Due to various reasons we are not actively promoting that projects become traceable at this time so I would leave that out.
Once a project becomes verified, they receive an email inviting them to upgrade to a campaign on TRACE.

The current things that keep us from promoting upgrading a campaign to TRACE are:
- mainnet gas fees are expensive.. and you would need to deposit the funds from your io w

[2021-12-15 22:25] geleeroyale opened #518 "Hero display problem on Safari"
## 📋 Anything to add?

Everything else looks fine! Except the hero is fleeing to the left ...

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/317685/146274021-b8e6ca40-ffde-4c3e-a9ea-54302a714f90.png">

## ⏰ Urgency/Deadline/Blockers?
🚨

[2021-12-15 22:35] MoeNick commented on #493
Thanks @WhyldWanderer
I address limiting create campaign in another issue and will close this.

[2021-12-15 22:36] #493 closed

[2021-12-15 22:48] laurenluz opened #519 "Add banner to giveth.io homepage when we launch the GIVeconomy"
Here is the banner. Please note... the button should say "Check your GIVdrop" not "Check your airdrop"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/af7472b9-404a-4ea1-a891-f620649d2fc0)

This is what I want:
- [ ] Banner is live on the homepage when we launch
- [ ] when you click the pink button, you get sent to the GIVdrop claim page
- [ ] when you click anywhere el

[2021-12-15 22:49] laurenluz commented on #519
@markoprljic tagging you so you can be in the loop on this if you want

[2021-12-16 06:58] mohammadranjbarz opened #520 "Add a header to all requests to Vercel to bypass rateLimit"
@MohammadPCh  suggestion about rate limit:

@mateodaza  @RamRamez I give you a key to put in environment variables in Vercel, please send it in header of all request to backend. Each of you wanted to do this issue please DM me to give you the key

[2021-12-16 10:17] markoprljic commented on #486
Yes.

Yes.

[2021-12-16 10:21] rodricastillo9013 commented on #519
Yes! https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=18%3A12

[2021-12-16 11:22] geleeroyale opened #521 "Creating Project Error"
**Please describe the issue or bug you are experiencing:**
Something went wrong - creating project
![image](https://api.typeform.com/responses/files/4ce85dec6a96845ec82173d54b47f5bb627d5924be653bba03c3b999cf112895/Screenshot_2021_12_16_192236.jpg)

[2021-12-16 12:14] MoeNick commented on #509
@divine-comedian can u pls take it?

[2021-12-16 12:17] MoeNick commented on #505
@mateodaza is it solved?

[2021-12-16 12:20] mateodaza commented on #521
Yesterday I created an issue for this.[Duplicate](https://github.com/Giveth/giveth-next/issues/517)

[2021-12-16 12:20] #521 closed

[2021-12-16 12:22] mateodaza commented on #519
Yes totally possible. Looks great :)

[2021-12-16 12:22] MoeNick commented on #503
@change network always goes to xdai, just to have @mateodaza confirmation that does it affect some of users or not?

[2021-12-16 12:23] MoeNick commented on #501
@mateodaza is it resolved now?

[2021-12-16 12:24] MoeNick commented on #500
I think its resolved pls test again @DonnaOftadeh

[2021-12-16 12:25] mateodaza commented on #501
Yes it is...

[2021-12-16 12:29] MoeNick commented on #498
do you have any idea @mateodaza @RamRamez ?

[2021-12-16 12:30] mateodaza commented on #498
This is not happening anymore

[2021-12-16 12:31] DonnaOftadeh commented on #500
yes - it is fixed @MoeNick

[2021-12-16 12:32] mateodaza commented on #514
This is totally a bug, good catch

[2021-12-16 12:38] MoeNick commented on #517
@mateodaza @CarlosQ96 pls confirm to close it.

[2021-12-16 12:40] MoeNick commented on #515
Ramin seems we have problem on Brave.
Please check it again.

[2021-12-16 13:51] geleeroyale opened #522 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I wanted to create a project but it did not allow me to use the wallet address that I was logged in as the receiving address for my project. It said that the wallet address was already in use and I couldn't leve the field empy. PLEASE HELP!
![image]()

[2021-12-16 14:18] mateodaza opened #524 "Get Header ready for GIV tokens amount"
It's ok for now to show zero but after the GIVeconomy launches it should show the right amount

![image](https://user-images.githubusercontent.com/18689480/146388617-69165257-1157-4d3a-833c-ca6c5e79cd71.png)

We can test this in staging using the testGIV token

[2021-12-16 15:00] #500 closed

[2021-12-16 15:27] divine-comedian commented on #514
ANNND it's gone!

![image](https://user-images.githubusercontent.com/67759413/146399855-5441ed2d-47b7-448b-89f0-157b459eec0c.png)

[2021-12-16 16:57] CarlosQ96 commented on #516
@MoeNick After talking to Mateo. Added a filter for projects that aren't giving blocks considered to accept Giv.

[2021-12-16 17:20] nauzystan opened #527 "Donations aren't registered in Donations"
## 📋 Anything to add?
Let Donations be registered in My Donations

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?
It's important for record purposes

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-12-16 18:00] #485 closed

[2021-12-16 18:00] #506 closed

[2021-12-16 18:00] #511 closed

[2021-12-16 19:03] mateodaza commented on #516
Ready to test from this [PR](https://github.com/Giveth/giveth-next/pull/528)

[2021-12-16 19:10] mateodaza commented on #489
@RamRamez awesome job man

![image](https://user-images.githubusercontent.com/18689480/146433011-96b1b7d2-1739-4bba-963c-4f42f1b67ae1.png)

If we can't go directly to the selected web2 provider, can we do instead a "Use Torus for login with social network" and then show the regular torus modal

![image](https://user-images.githubusercontent.com/18689480/146433457-3d8f97b1-0f33-44e5-a7d4-63cfff31ec

[2021-12-16 19:24] markoprljic commented on #489
I recall having this discussion many times before @mateodaza
I don't think it's redundant selecting again in favor of user awareness on this screen.

[2021-12-16 19:33] divine-comedian commented on #516
testing `next.giveth.io`
looks like the query works on the filter for the projects page
![image](https://user-images.githubusercontent.com/67759413/146436682-751717f9-f723-4441-9b53-954e4a1f2571.png)

[2021-12-16 19:36] divine-comedian commented on #396
testing on `next.giveth.io`

the tooltip shows up on badge on the project page
![image](https://user-images.githubusercontent.com/67759413/146437108-1a30d823-199a-481b-a022-dba713b1bf7a.png)

looks good!

[2021-12-16 19:42] divine-comedian commented on #477
I can only find one GIV - one question though - if giving block only accepts coins listed on Gemini (not GIV presently) then how does this work showing GIV on the donation UI?

[2021-12-16 19:47] divine-comedian commented on #481
testing on `next.giveth.io`
there's a couple disclaimers added to the UI it seems

![image](https://user-images.githubusercontent.com/67759413/146438063-0c0579d7-a920-48d7-a78d-26d511526531.png)
and also when I try to input a number into the donation field with GIV selected I get a nice popup
![image](https://user-images.githubusercontent.com/67759413/146438306-d57ba949-8b20-4a34-aacd-4de4834d27a4

[2021-12-16 19:50] divine-comedian commented on #466
When I'm connected to another chain besides Ropsten or xDAI I try to donate and this pop-up shows up asking me to change network
![image](https://user-images.githubusercontent.com/67759413/146438923-72943800-14a2-4fa9-a339-6ae4c7ea5d5e.png)

when I click the button it prompts me to change network to Ropsten (mainnet)

looks to be resolved!

[2021-12-16 20:03] divine-comedian commented on #524
testing on `next.giveth.io` and `https://liquidity-mining-dapp.vercel.app/`

on xdai I can see on the GIVeconomy front-end I have lots of tokens that I can see clearly in the navbar
![image](https://user-images.githubusercontent.com/67759413/146441139-9d2a5790-d5a2-4c69-afec-1b5c1b0eb904.png)

then on giveth staging it shows up as 0  (on xdai as well)
![image](https://user-images.githubusercontent

[2021-12-16 20:03] mateodaza commented on #524
Hold your horse. It's not up yet 😅 it's just building

[2021-12-16 20:10] divine-comedian commented on #524
nice -
![image](https://user-images.githubusercontent.com/67759413/146442206-2a156e8e-b489-4e9a-afea-b8f8f5c98a5d.png)

[2021-12-16 20:12] divine-comedian commented on #502
can confirm -
![image](https://user-images.githubusercontent.com/67759413/146442554-772345e4-1b34-4c2a-94bd-aaf2dd645f39.png)

looks to be resolved!

[2021-12-16 20:14] divine-comedian commented on #505
looks to be resolved in  issue #481

moving to DONE

[2021-12-16 20:17] divine-comedian commented on #503
testing on `next.giveth.io

when I'm connected to another network Goerli, AVAX for example the change network button by default attempts to switch me to ropsten (mainnet). according to this issue shouldn't it be xDai as the default? @mateodaza
![image](https://user-images.githubusercontent.com/67759413/146443177-bc1be27e-31c8-46ad-8c57-ea72951d3387.png)

[2021-12-16 20:21] mateodaza commented on #503
I didn't read the comments here, but default network is mainnet. we could change it but I think mainnet (although expensive) has priority

[2021-12-16 20:21] divine-comedian commented on #498
currently totally signed out from giveth. on the donate page I can see the `donate` button is replaced by `connect wallet` this seems pretty explicit on what the user needs to do -
![image](https://user-images.githubusercontent.com/67759413/146443601-c16f9d4e-ed50-4cd0-b1b6-acfc00123e4d.png)

once I'm signed in the token list shows up as per the network I'm connected to -

looks to be resolved

[2021-12-16 21:14] WhyldWanderer commented on #396
I'm noticing that this also comes up for 'verified' projects that arent traceable
![image](https://user-images.githubusercontent.com/74267818/146449918-709856c5-8ada-4cdd-9804-6a56599a8c2c.png)

[2021-12-16 21:15] mateodaza commented on #396
On it! good catch

[2021-12-16 21:17] WhyldWanderer commented on #396
MAybe the 'verified' one could say something like:
"Verified is a top tier status for projects wishing to join the [GIVbacks program](https://docs.giveth.io/giveconomy/givbacks). The GIVbacks program is a revolutionary concept that rewards donors to verified projects with GIV tokens."

[2021-12-16 21:47] WhyldWanderer commented on #367
I am also receiving this error when I try to complete my profile:
![image](https://user-images.githubusercontent.com/74267818/146453682-f8bd9b0d-7cd1-4ad3-b460-5c5711d8a2d4.png)

Here is what was logged in the console:
`Error: <svg> attribute width: Expected length, "auto".
inpage.js:1 MetaMask: The event 'networkChanged' is deprecated and may be removed in the future. Use 'chainChanged' instead.

[2021-12-16 21:58] WhyldWanderer opened #531 "GitCoin Grants round is over - we should remove the banner"
GitCoin Grants round is over - we should remove the banner

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/5096835e-4148-47d7-aba5-1333e51f154a)

[2021-12-16 21:59] mateodaza commented on #531
It'll be gone when it stops being 16th everywhere in the world :)

I'll let that happen instead of pushing to live only for that

[2021-12-16 22:06] WhyldWanderer opened #532 "Homepage Text fixes"
I noticed a few small text fixes on the homepage...

Everywhere in our Documentation and Comms messaging has "Future of Giving" capitalized, we should be consistent.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/09c10067-59cc-4e4c-a6ce-3e2652f40e60)

Add "?"
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/1a9105ed-8409-459c-8320-f30353adc2fc

[2021-12-16 22:23] WhyldWanderer commented on #517
Successfully uploaded an image to my project during creation:
![image](https://user-images.githubusercontent.com/74267818/146457892-3d70fae1-ad6a-487e-bdbe-7552a1071b87.png)

Seems to be fixed

[2021-12-16 22:24] WhyldWanderer commented on #306
Tested! I see the message... looks good

[2021-12-16 22:43] WhyldWanderer opened #533 "Choosing report a bug should open a new tab"
When I click here to report a bug, it redirects me to github and then I loose the Giveth page that I was on...  would be helpful for collecting screenshots etc. if clicking this opened it in a new tab.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/c269ef91-071d-48af-808b-4b3241f8085d)

[2021-12-16 22:46] WhyldWanderer opened #534 "Community page links should all open in new tabs"
All links on giveth.io/join should open in a new tab so that users can still navigate the DApp while checking out all of the community outlets. Or if they want to open more than one link at a time...

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/16e49289-0cc1-458b-b917-b21558f0014c)

[2021-12-16 22:58] WhyldWanderer commented on #509
I can change this!

[2021-12-16 23:03] WhyldWanderer opened #535 "Donating Anonymously - tax donation receipt?"
As far as Im aware, "Giveth does not support donors in obtaining tax deductions and if a donor receives GIVbacks for donating to a verified project, we can not guarantee that the donation is legally tax deductible." - As stated in terms of use

So this text is misleading:
We should remove the hover tooltip

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/5072f304-e5b1-4e

[2021-12-16 23:07] WhyldWanderer opened #536 "Donating on xDai - Network fee hover tooltip"
When donating on  the xDai chain, the "Network Fee" hover tool tip says Ethereum blockchain
This should say xDai Network
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/cceb9329-f06c-41bc-a6e3-8c8e1b611023)

[2021-12-17 00:34] laurenluz commented on #488
yep, it's good!

[2021-12-17 13:12] #531 closed

[2021-12-17 13:13] divine-comedian commented on #503
is it possible to change to xdai or what are you saying exactly?

[2021-12-17 15:23] laurenluz opened #538 "Add tooltip to "GIV currently in wallet""
Hey Dapp friends,

@geleeroyale made this issue: https://github.com/Giveth/GIVeconomy/issues/312

But he meant it for you guys... In GIVeconomy right now, this is a hover tooltip... See it here: https://liquidity-mining-dapp.vercel.app/

It would be good if they behaved the same across everything, so please just add a tool tip for Lauren's version. I know this will be a cool dropdown later

[2021-12-17 15:23] mateodaza commented on #538
Gotchaaaa, we can transfer that issue to here also. I'll do that

[2021-12-17 15:24] mateodaza opened #539 "GIV icon is missing some punch"
@geleeroyale commented on [Thu Dec 16 2021](https://github.com/Giveth/GIVeconomy/issues/312)

<img width="538" alt="image" src="https://user-images.githubusercontent.com/317685/146449620-474c4485-5a93-45d3-881a-b81db0fe4780.png">

As a user I would expect the GIV badge to be interactive in a way, i.e. behave as a button - change my cursor (like other buttons) and ideally also display an info toolt

[2021-12-17 15:24] #538 closed

[2021-12-17 17:49] divine-comedian commented on #536
I noticed the tooltip text didn't exactly match so I made some changes into a local commit -
https://github.com/Giveth/giveth-next/tree/mitch-tooltipFix-1

[2021-12-17 17:50] divine-comedian commented on #535
testing `next.giveth.io`

tooltip - GONE!

looks to be resolved

[2021-12-17 18:02] divine-comedian commented on #448
testing on `next.giveth.io` on both MAINNET and XDAI

on the donate page I can successfully paste in any token address and it will load the token ticker (TDAI, xSDT or whatever) and it will allow me to put in an amount and generate the metamask transaction.
![image](https://user-images.githubusercontent.com/67759413/146588067-88e983ff-452b-4893-9139-7e6155ff95ec.png)
![image](https://user-images.g

[2021-12-17 18:11] divine-comedian commented on #304
checking the labels on `next.giveth.io`

they look to be all updated as per described in this issue - moving to DONE!
![image](https://user-images.githubusercontent.com/67759413/146589157-8b41c261-ad79-424e-ba46-f54004e778c2.png)

[2021-12-17 18:26] divine-comedian commented on #536
merged in PR - https://github.com/Giveth/giveth-next/pull/541

[2021-12-17 18:43] WhyldWanderer commented on #451
@RamRamez was this from a project that you created on staging? or on production?

[2021-12-17 18:45] divine-comedian commented on #501
ETH looks to be showing up now on the token list drop down menu
![image](https://user-images.githubusercontent.com/67759413/146592977-7e58cc49-0315-442c-8471-b050b21f32dc.png)
moving to DONE

[2021-12-17 19:01] divine-comedian commented on #519
small text fix - airdrop -> givdrop
https://github.com/Giveth/giveth-next/commit/1053af221774d44d903dd2a51e55de859bbed535

![image](https://user-images.githubusercontent.com/67759413/146594826-17c7745e-3213-4d30-b992-aff42b9a9f27.png)

looks good to go! moving to DONE

[2021-12-17 19:03] WhyldWanderer commented on #398
I am logged in with my Gmail Torus account and pagination is working on the projects page.

![image](https://user-images.githubusercontent.com/74267818/146595067-7c93667b-0f45-423d-9341-425b31763da2.png)

I think we can call this one done.

[2021-12-17 19:14] divine-comedian commented on #491
oh wow this ONE! so awesome! testing `next.giveth.io`
![image](https://user-images.githubusercontent.com/67759413/146596069-bd28fcda-c1c4-4446-ba4e-3ceb00c9dba1.png)

I tried all the buttons - the ethereum one successfully opens onboardJS - any of the social media options below will open Torus - this looks great! I just made a small text fix on the text changing `and` -> `to`
https://github.com/Gi

[2021-12-17 19:16] divine-comedian commented on #462
all the blocking issues seem to be moved to done - are there any other ways we can test this issue?

[2021-12-17 19:21] RamRamez commented on #451
From the account name "Ram MetaMask", I noticed that it was on staging.

[2021-12-17 19:24] divine-comedian commented on #486
@RamRamez  which parts of this issue can be tested? sorry the title is confusing - I'm not sure what to check in the drop-down menu now

and is it on `next.giveth.io` or `typescript.giveth.io`?

[2021-12-17 19:27] WhyldWanderer opened #542 "Project creation flow - Each time i press next, it should go to the top of the page"
During project creation -  i choose my categories, add description, etc..

Each time I press "next" to move to the next section, it should bring me to the top of the page.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/b13be300-8544-436b-a785-90b0d42d0a09)

Otherwise, when i press next i am lost at the bottom of the next page and dont see anything on my screen,

[2021-12-17 19:37] divine-comedian commented on #333
testing on `next.giveth.io` testing inputting a wallet address on project creation / edit

If I put an empty address and try to proceed I receive a toast notification error telling me to put in an address

If I put in an ENS address it resolves into an ethereum address and if the address is already taken by a project I receive an error, otherwise I can proced

wallet address input size looks to be

[2021-12-17 19:38] WhyldWanderer commented on #489
I tested this and its working...
I agree with marko that the redundancy is okay, especially for first time non-crypto savvy people.
![image](https://user-images.githubusercontent.com/74267818/146598743-51cf10a0-c2a3-4ebf-a281-d2932049ba63.png)

Moving to done...

[2021-12-17 19:43] WhyldWanderer commented on #333
I am still able to type in waaay too many characters in the ETH address box.

Is there a way to limit the amount of characters to 42? or to make sure it can only be entered in the correct format?

[2021-12-17 20:09] RamRamez commented on #486
@divine-comedian It's on `next.giveth.io`

When user wallet is not connected, user should see just `SIGN IN` on menu bar.
When wallet is connected but user has not yet signed the message with his wallet, should see the user details menu on hover (without `sign out` option)
When user signs the message, he see user details menu on hover (with `sign out` option)

If user is registered, he see his nam

[2021-12-17 21:10] divine-comedian commented on #486
okay thank you for explaining it in a bit more detail.

I went through the drop down menu flow -

on a fresh load totally signed out there is no drop down menu
when I log into my wallet my profile name, and wallet address show up but there is no option to sign out
once I sign the message I can see an option to sign out

looks to be working as described!  - moving to DONE

[2021-12-17 21:45] MoeNick opened #544 "ETH address validation"
I am still able to type in waaay too many characters in the ETH address box.

Is there a way to limit the amount of characters to 42? or to make sure it can only be entered in the correct format?

_Originally posted by @WhyldWanderer in https://github.com/Giveth/giveth-next/issues/333#issuecomment-996989829_

[2021-12-17 23:37] WhyldWanderer commented on #451
okay thats why... if it's a project on staging its using the staging project slug and sending you to production

[2021-12-17 23:51] WhyldWanderer commented on #542
When I go through the create a project flow, it now brings me up to the top of the page!
tested and working... Thanks guys!!

[2021-12-18 05:51] DonnaOftadeh opened #547 "The clickable wallet address on the top right should be presented as intuitively has a list below it- may add a hamburgure menu sign or something like that"

[2021-12-18 05:52] DonnaOftadeh commented on #547
![issue 1 freshelle 1](https://user-images.githubusercontent.com/53400757/146630979-122c4788-2fd8-44e7-b406-8f578a2916de.png)

[2021-12-18 05:53] DonnaOftadeh commented on #547
![image](https://user-images.githubusercontent.com/53400757/146631002-60baf59f-7914-447a-bac6-8af93f3d7d7d.png)

[2021-12-18 05:54] DonnaOftadeh commented on #547
@MoeNick

[2021-12-18 05:56] DonnaOftadeh opened #548 "When user is in the project page, he/she cannot understand what is traceable we should add description or a tip tool short description on that"

[2021-12-18 05:56] DonnaOftadeh commented on #548
![image](https://user-images.githubusercontent.com/53400757/146631075-8fe6441c-6e85-4c71-90be-976f3737e2b0.png)

[2021-12-18 05:57] DonnaOftadeh commented on #548
@mo

[2021-12-18 06:22] DonnaOftadeh opened #549 "After claiming GIVdrop and GIV tokens in the congrats page (transaction successful) the view on blockscout and etherscan is not visible enough, users sometime didn't see it"

[2021-12-18 06:24] DonnaOftadeh opened #550 "The view on the blockscout/etherscan link in the transaction successful page (GIVdrop, GIVFARM,...) is not visible enough, users seem not seeing it)"

[2021-12-18 06:41] DonnaOftadeh commented on #550
@laurenluz

[2021-12-18 06:41] DonnaOftadeh commented on #549
@laurenluz

[2021-12-18 07:13] geleeroyale opened #551 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Cannot complete my profile and create a project with my Ledger Nano X
![image](https://api.typeform.com/responses/files/9155fe90054f33d883995615ec071239eeccdc9abbd50a250ef71843fe52ea5d/Screenshot_2021_12_18_010803.png)

[2021-12-18 09:24] RamRamez commented on #451
but it's not sending to a project slug. There is no project slug in the link.

This is the link on "View my project":

![image](https://user-images.githubusercontent.com/73441857/146636238-411e5905-c33b-4a32-8e42-47144afbcf46.png)

[2021-12-18 13:26] mateodaza commented on #548
I wouldn't know where to put this, maybe we could use help from design

[2021-12-18 16:04] RamRamez opened #554 "implement mobile menu"

[2021-12-18 19:02] GriffGreen opened #556 "When pasting in a token address to donate, the amount in wallet is wrong"
## 📋 Anything to add?
![Screen Shot 2021-12-17 at 2 17 54 PM](https://user-images.githubusercontent.com/14945613/146603061-f4b2d911-44f2-4d9a-abb9-3b292b072e50.png)

The dapp says i have a flat 170,000... but i got 36,464 DR GIV....

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-12-18 19:19] mateodaza commented on #556
The token in the dApp is the previous token to DRGIV. I have to update that

[2021-12-20 13:06] MoeNick opened #559 "Staging: I can't see my address in the header"
Its happening on next.giveth.io

If I don't have a completed account, I can't see my address in the header.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/082ac64f-1d5c-41c0-b7c6-f4f4db51fd53)

[2021-12-20 13:47] mateodaza commented on #559
Which network are you in?

[2021-12-20 14:18] MoeNick commented on #559
xDai as you can see in screenshot, bbut it didn't update when I changed the network.

[2021-12-20 17:08] MoeNick opened #562 "Listing status change after any update"

[2021-12-20 17:47] geleeroyale opened #563 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
The Support link doesn't work on the GIVeconomy site.
![image](https://api.typeform.com/responses/files/55dd578cc98a96cc0fe747136807913accd0e9ad33085d27427e47f54b2aa5a6/Screen_Shot_2021_12_20_at_11.45.04_AM.png)

[2021-12-21 01:28] divine-comedian commented on #451
on autopilot I can test this feature by sending a test email - it will fill in personalized data with a random or specified contact we have stored in autopilot

![image](https://user-images.githubusercontent.com/67759413/146855037-5f4fa08c-1cd8-41ee-8a2d-9d9a793386c4.png)

I sent myself a test email using a user profile of a known project on giveth.io

![image](https://user-images.githubuserconten

[2021-12-21 01:32] divine-comedian commented on #451
@RamRamez  I can't seem to reproduce the error

[2021-12-21 12:51] MoeNick opened #567 "Archive Projects"

[2021-12-21 14:46] RamRamez opened #568 "making modals responsive"
making modals responsive:

Change Network Popup
Insufficient Funds Popup
Incomplete Profile Popup

[2021-12-21 15:32] RamRamez opened #570 "problems on donation page responsiveness"
The select token component:
![image](https://user-images.githubusercontent.com/73441857/146956091-0822c4a7-4cda-4039-9e64-539ff66bc358.png)

![image](https://user-images.githubusercontent.com/73441857/146956164-c2dd1deb-bb37-4ab8-af91-d9e28296c860.png)

[2021-12-21 17:27] divine-comedian commented on #428
with the new wallet flow I can see that I am only prompted once on the UI to sign in to my account -
![image](https://user-images.githubusercontent.com/67759413/146972783-340cfb3c-708c-49e9-a5c7-7ad443d2fae1.png)

one signature transaction is sent only (MetaMask)

with the new wallet and address account relation and the updated navbar I think this issue is resolved

[2021-12-21 17:29] mateodaza commented on #462
That's it, we added more tokens and now we can vote with any so it's fine!

[2021-12-21 17:39] divine-comedian opened #572 "text missing when a project search yields no results"
testing on both `next.giveth.io` and `giveth.io`

When I am using the search function on the projects page and my search yields no results I don't get any useful feedback as a user - wasn't there some text here before??

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/8ffffd07-3fea-49b8-97e8-8b637582804a)

Anyway there should be some text here like `Cannot find any proje

[2021-12-21 17:43] divine-comedian commented on #457
testing `next.giveth.io`

I tried navigating around to a few different pages .. /projects, /about /join and then going back to the homepage - my wallet remained signed in and nothing change in my sign in status during any navigations throughout the DApp

this looks to be resolved!

[2021-12-21 17:48] #457 closed

[2021-12-21 17:51] MoeNick commented on #572
I think we had "no result" design. Did we?

[2021-12-21 18:17] #428 closed

[2021-12-21 18:27] divine-comedian commented on #278
testing `next.giveth.io`

I tested sorting projects and `load more` while sorting projects in various ways everything worked mostly except when I hit the end of a list of sorted projects the load more button still shows
![image](https://user-images.githubusercontent.com/67759413/146979696-225e10c3-35bd-4de7-bef3-a1193e085464.png)

can this be related to this issue I reported earlier? #572
@mohamma

[2021-12-21 18:38] divine-comedian commented on #483
testing `next.giveth.io`
checking the responsiveness of the navbar

there seems to be a weird breakpoint range between a screenwidth of ~750px - 875px where some of the text squishes and overflows their buttons
![image](https://user-images.githubusercontent.com/67759413/146980940-6034843e-be19-4db4-a046-38a43808a467.png)

 and as well between 500px - 640px there seems to be some circles that becom

[2021-12-21 18:39] divine-comedian commented on #483
@mateodaza  I'm assuming this falls to you now?

[2021-12-21 18:46] divine-comedian commented on #554
testing on next.giveth.io with metamask mobile browser

I load up the site and I see the lines on the left indicating a drop down menu i can sign in and successfully navigate to other pages . ( community, projects, giveconomy, home)

however once signed in the regular drop down menu when I click on my account portrait is impossible to access...
![Screenshot_20211221-124350.png](https://user-images

[2021-12-21 18:49] divine-comedian commented on #554
not sure who is picking up the flag on this one @MoeNick , I tagged @mateodaza

[2021-12-21 18:50] mateodaza commented on #554
I'm merging all the updates from @RamRamez and whatever is missing I'll take it

[2021-12-21 18:51] MoeNick commented on #554
We decided to revert it to be just responsive. The design is not confirmed yet so now you can test it again.

[2021-12-22 02:31] geleeroyale opened #573 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
donate to 7 projects and it comes out as if I did not donate in my account
![image](https://api.typeform.com/responses/files/f09d1d45994bae7ecc55f26d43bc267674629f2258b6a146ed01e48e8a9414de/Screenshot_61.png)

[2021-12-22 02:33] mohammadranjbarz commented on #278
I have checked the graphql queries, and It seems ok,
@mateodaza  could you check the frontend?
It might be a wrong statement for showing `LOADE MORE` button

[2021-12-22 02:52] geleeroyale opened #574 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
donate but I do not count my donations, they do not go into my account
![image](https://api.typeform.com/responses/files/5fe604fefe5b22c4591764cb27f9c6ac15c44e5b9c8362f9e76584167cf51ef8/Screenshot_62.png)

[2021-12-22 10:48] #559 closed

[2021-12-22 11:38] MoeNick commented on #515
@mateodaza I couldn't replicate it again, would pls take a look , you may have a clue.

[2021-12-22 11:40] MoeNick commented on #573
This seems to be serous, would you pls tale a look? @mateodaza @CarlosQ96

[2021-12-22 11:46] MoeNick commented on #554
@divine-comedian would you pls confirm?

[2021-12-22 11:58] MoeNick commented on #573
1- Please check the donations was anonymous or not
2- Maybe we have to warn the user if they want it to be shown in their donation page, they have to log-in.

[2021-12-22 12:20] mateodaza commented on #573
We're on this @MoeNick

[2021-12-22 12:22] MoeNick opened #575 "Links in autopilot needs to be review for both staging and live env."

[2021-12-22 12:44] mosaeedi opened #576 "Change Project Categories"
We need to show categories as a submenu, under Projects. but we need to pick up to 7 main categories to make it easier for users to find the thing they are looking for and not make a really long list of categories.
_Note: over than 9, is not UX-friendly at all!_

So here are my suggestions,

**Main categories:**

- Environment & Energy
- Finance &  Economy
- Health & Medical
- Technology & Educati

[2021-12-22 14:30] MoeNick commented on #576
Currently we just allow 4 categories, we just have more categories for old projects which is selected before. what to do with them

[2021-12-22 15:17] mateodaza commented on #576
if they are part of a subcategory I think we could merge them into the category. this is cool but not sure if we should push it for this launch

@MohammadPCh @CarlosQ96 for the backend how hard is this?

[2021-12-22 15:18] markoprljic commented on #576
Not in this release.
This should wait for next release.

[2021-12-22 16:16] divine-comedian commented on #575
FYI there is no 'staging deployment' for autopilot so it is impossible to have a separate set of links to test staging links

[2021-12-22 16:23] MoeNick commented on #575
OK.

[2021-12-22 16:45] divine-comedian opened #578 "add modal to notify users who edit their project of not reviewed status"
related to https://github.com/Giveth/impact-graph/issues/264

with the pending change to revert projects back to `not reviewed` when they make an edit we should notify users BEFORE they save changes that their project will go into review and will not be shown on the projects page.

have a popup modal when a user clicks `SAVE` on the edit project page ![image.png](https://images.zenhubusercontent.c

[2021-12-22 16:52] MoeNick commented on #578
@mateodaza can we bring this msg to a modal? We dont have a high five page, so I think we may need a modal. Any other idea ?

[2021-12-22 16:58] divine-comedian commented on #554
testing again on next.giveth.io with metamask browser - this update now we can no longer easily navigate to /join /projects or the giveconomy . the drop down menu works fine and everything

![Screenshot_20211222-104955.png](https://user-images.githubusercontent.com/67759413/147127699-f79008d3-ba72-4ade-be63-b5aea830e199.png)

sometimes however it takes two taps to open the drop down menu - the GIV

[2021-12-22 17:01] divine-comedian commented on #554
example:
![image](https://user-images.githubusercontent.com/67759413/147128699-e9d874cd-0bcb-4734-84af-cca4a3cf5b9a.png)
the drop down menu on the user account would flow over top of this second row..

[2021-12-22 17:03] MoeNick commented on #554
No sorry we implement it and revert  it several times. It needs mobile view to get finilize

[2021-12-22 17:05] divine-comedian commented on #554
okay so this issue is on hold for now? can you move it to the appropriate pipeline

[2021-12-22 17:20] mateodaza commented on #578
Sure!

[2021-12-22 18:36] mateodaza commented on #573
This happened because even if signed with a wallet we didn't require the signature, now we do. It's ready to be tested.

So with this change with metamask there won't be anonymous donations unless the user asks for it

[2021-12-22 19:28] mateodaza commented on #515
Nothing :(

[2021-12-22 20:10] divine-comedian commented on #570
testing `next.giveth.io`

testing out on mobile and tablet resolutions - the token list drop down is centered and fits on the page! - looks to be resolved
![image](https://user-images.githubusercontent.com/67759413/147149693-2388edc7-c4bf-4a43-833d-cbe663642545.png)
![image](https://user-images.githubusercontent.com/67759413/147149736-b519c922-b851-4332-87aa-bc432aa567f0.png)

[2021-12-22 20:25] divine-comedian commented on #115
how can we test this issue @RamRamez  @MoeNick ?

[2021-12-22 20:30] divine-comedian commented on #562
this looks to be similar of - https://github.com/Giveth/impact-graph/issues/264
 it looks to be resolved!

[2021-12-22 20:35] divine-comedian commented on #503
@mateodaza  :point_up:

[2021-12-22 20:37] mateodaza commented on #503
I'm saying it's possible, it's just a matter of what we want :) if the decision is to go default to xDAI I can change it no biggie

[2021-12-22 20:55] divine-comedian opened #579 "sign in with metamask causes crash"
testing on `next.giveth.io`  clean cache and cookies, brave browser

I'm trying to sign-in  using metamask - when I click sign-in -> Ethereum -> metamask I get thrown this error and the sign in button becomes non-responsive.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/3ceeebb5-2e84-40eb-a2ea-ed94dde5966c)

seems like a big bug @MoeNick

[2021-12-22 20:57] mateodaza commented on #579
weiiiiirddd, is this brave? I'll check because I can't replicate on chrome

[2021-12-22 20:57] divine-comedian commented on #568
checking this out on `next.giveth.io` testing mentioned modals on screen resolutions for tablets and mobile
![image](https://user-images.githubusercontent.com/67759413/147152573-45bb5f3f-a298-4d10-bd82-ed6bf014c79b.png)
![image](https://user-images.githubusercontent.com/67759413/147152697-ac84132e-b90c-4de0-a274-314f9afb17c2.png)

there's an issue #579 that is preventing me from testing the incomp

[2021-12-22 21:01] mateodaza commented on #579
@divine-comedian can you keep testing on chrome while I see what's going on? It may take me a while

[2021-12-22 21:28] divine-comedian commented on #503
lets do xdai default!

[2021-12-23 03:11] WhyldWanderer opened #581 "Update project verification typeform links"
The project verification application link has changed. We need to update this on the DApp

Old link: https://hlfkiwoiwhi.typeform.com/to/pXxk0HO5

New link: https://giveth.typeform.com/verification

- [x] My account

- [x] Project page

I think these are the only places where it is linked to the DApp

[2021-12-23 09:43] MoeNick commented on #503
So pls everybody confirm: xDai (Primary) / Ethereum (Secondary)
It's a big decision and affect all pages and header menu.
@laurenluz @GriffGreen

[2021-12-23 09:46] MoeNick commented on #503
I just asked Griff and he confirm.
Let's do it @mateodaza

[2021-12-23 10:00] MoeNick commented on #579
@mateodaza I can confirm with have s serious problem on brave on staging, that we don't have on live version. Pls consider that. we can have call whenever you are ready.

[2021-12-23 10:03] #115 closed

[2021-12-23 10:18] MoeNick opened #582 "Responsiveness wont work for mobile view"

[2021-12-23 11:37] MoeNick commented on #579
I cleared my cache and seems it works fine.

[2021-12-23 12:03] MoeNick commented on #582
I talked to @mosaeedi for having a guideline for showing the menu less than 500.

[2021-12-23 12:04] MoeNick commented on #573
Appreciate if you can confirm. @divine-comedian

[2021-12-23 12:07] #307 closed

[2021-12-23 12:07] #149 closed

[2021-12-23 12:08] MoeNick commented on #137
I think we should remove trace tabs for traceable projects

[2021-12-23 12:09] MoeNick opened #583 "Remove Traces tab for traceable projects"
I think we should remove trace tabs for traceable projects

_Originally posted by @MoeNick in https://github.com/Giveth/giveth-next/issues/137#issuecomment-1000260924_

[2021-12-23 12:13] #515 closed

[2021-12-23 12:15] MoeNick commented on #520
@mohammadranjbarz I think you're the one that can test and confirm ;)

[2021-12-23 12:41] divine-comedian commented on #573
testing on `next.giveth.io`

when I would like to make a donation but I have not signed with my metamask wallet I am prompted to do so when I click `DONATE`

my donations show up either with my profile name or anonymous depending if I clicked `anonymous` or not

[2021-12-23 12:43] divine-comedian commented on #579
tested as well - metamask is now working fine on brave! nice quick fix mateo!

[2021-12-23 13:31] mohammadranjbarz commented on #520
I would test it on Saturday,
because during the tests the staging backend might be down or having problem, so I prefer test it on a weekend what no one ( I mean developers) don't use it

[2021-12-23 13:33] MoeNick commented on #520
We have launch for Friday I assume. so shall we go live with it?

[2021-12-23 13:35] mohammadranjbarz commented on #520
Hmmm, so If we want to go live Friday, I should test this , tonight ( because the test didn't complete, I didn't merge the PR)
is it ok?

[2021-12-23 14:09] divine-comedian commented on #575
I found the issue! it was a problem with autopilot adding UTM tags to our links that was messing up the slug - the UTM tags have been removed from this email and as we publish updated emails for the GIVeconomy we'll be removing these trackers to prevent any further issues.

[2021-12-23 17:28] mateodaza commented on #582
![Screen_Shot_2021-12-23_at_4 44 16_PM](https://user-images.githubusercontent.com/18689480/147274008-691616e3-e751-4b30-a132-332c080c01a2.png)

 Done, basing on this design

[2021-12-23 17:34] mateodaza commented on #568
@divine-comedian not blocked anymore I think

[2021-12-23 17:50] divine-comedian commented on #568
nice! this looks good -
![image](https://user-images.githubusercontent.com/67759413/147275909-eae78e1c-211c-4120-a868-784fdc2e84ca.png)

I also tested all the modals on tablet size and they came out fine

[2021-12-23 18:19] mateodaza commented on #554
![Screen_Shot_2021-12-23_at_4 44 16_PM](https://user-images.githubusercontent.com/18689480/147278431-20f81dd3-1a8c-4ec9-ad04-f802ffe70c14.png)
Implementing this for launch. Already live

[2021-12-23 23:04] GriffGreen opened #586 "Can't donate GIV Tweet has a weird overlay issue with the token drop down"
<img width="1018" alt="Screen Shot 2021-12-23 at 5 01 52 PM" src="https://user-images.githubusercontent.com/14945613/147298156-d05a6953-5503-40dd-935b-c058ceae2b38.png">

[2021-12-23 23:07] GriffGreen commented on #586
I was on the xdai network if that matters and tried to do it fast

[2021-12-23 23:12] GriffGreen opened #587 "Major Props for adding Permit to the Donate page... fucking awesome!"
I used DAI and was pleasantly surprised to see the permit pop up... nice touch!

[2021-12-24 12:34] mateodaza commented on #278
They look ok to me!

[2021-12-24 18:38] geleeroyale opened #591 "something went wrong while adding your project - failed to fetch"
**Please describe the issue or bug you are experiencing:**
'something went wrong while adding your project - failed to fetch'
![image](https://api.typeform.com/responses/files/e29470ba3144d76b9a875ab4135f52727a884ade490a4c63019e01d51d980c84/Screenshot_2021_12_24_12.37.35_PM.png)

[2021-12-24 19:54] geleeroyale opened #592 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I can't create an account and receive  // Something went wrong while adding your project NetworkError when attempting to fetch resource.Please report this issue
Tell us what you thinkHow can we be better?
Report an issue or request a new feature
![image](https://api.typeform.com/responses/files/dea4137b67268ea7449fd7fbc4336bfc36ae554ebd741

[2021-12-24 20:08] divine-comedian commented on #554
testing on metamask browser mobile - I'm having a lot of difficulty navigating using the drop down menu - it often takes several clicks or page refreshes to get it to open to show the menu. could it be site traffic? it seems very erratic

[2021-12-25 12:13] geleeroyale opened #593 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
An easy way to contact project owners

[2021-12-25 14:32] divine-comedian opened #594 "network fee estimation on xdai is wrong"
testing on `next.giveth.io` and `giveth.io`

when making a donation to a project it estimates the gas price in $$ dollars based on the gwei/xdai amount - however since I'm on xdai this would be < $0.01 - something is not being calcualted correctly -

also should add a space between `Netwrok Fees` and `?` (the tooltip marker)

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858dd

[2021-12-26 08:43] geleeroyale opened #595 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
We are an hackergroup, we can be bought. We demand KI Reasearch Group Sustainable Development Infrastructure Project https://giveth.io/project/bring-a-stop-to-global-poverty-and-alleviate-hunger be approved. We will attack your site until project approved, we know this is fair.
![image]()

[2021-12-26 17:51] GriffGreen opened #596 "xDai onchain fee showing ETH dollar value"
![Screen Shot 2021-12-26 at 11 50 35 AM](https://user-images.githubusercontent.com/14945613/147416176-bd2b1b86-035a-45d8-8084-71b577691a59.png)

[2021-12-26 18:40] GriffGreen commented on #596
https://github.com/Giveth/giveth-gatsby/issues/913

[2021-12-27 13:26] divine-comedian commented on #278
testing on `next.gvieth.io`

when I make a query that returns no results I get an appropriate message -
![image](https://user-images.githubusercontent.com/67759413/147475660-14f175e7-9d8c-4244-b72f-2bc81a1f512a.png)

I noticed we lost the Create a Project link in the process - I would make some small tweaks - adjusting the font size and weight and the messaging
"No projects match your search - **C

[2021-12-27 13:33] divine-comedian commented on #278
when i reach the end of the search results I no longer see the LOAD MORE button
![image](https://user-images.githubusercontent.com/67759413/147476616-df109ec9-bb2d-4c48-9e28-c0dfb3144dcb.png)

[2021-12-27 18:15] WhyldWanderer opened #597 "Partnerships page is wonky"
Partnerships page is unreadable:
https://giveth.io/partnerships

![image](https://user-images.githubusercontent.com/74267818/147497255-da3b0fa1-b92d-45da-8609-10a6ab4972e3.png)

[2021-12-27 18:22] divine-comedian commented on #451
We found the issue, hopefully, it seems it was a problem with autopilot appending UTM tags onto our emails, they have since been removed - we tested this and the issue seems to be resolved.

[2021-12-27 18:27] divine-comedian commented on #483
tablet size looks good
![image](https://user-images.githubusercontent.com/67759413/147497812-856c5f07-5b06-466f-87be-c40aef8431a7.png)

and on mobile as well
![image](https://user-images.githubusercontent.com/67759413/147497975-4400f9c0-a897-4e3f-8e13-abc1ed9867a3.png)

I tested as well the aforementioned breakpoints I found and everything appears very clean on the navbar - moving this issue to do

[2021-12-27 18:32] divine-comedian commented on #582
mobile design looks goo aesthetically - however as I've mentioned in other issues the navbar drop-down menu becomes unresponsive after navigating away from the home page (to the projects page for example)  - the issue is only resolved on a fresh page load.

[2021-12-27 18:40] divine-comedian commented on #503
testing on `next.giveth.io`

I try to donate from another network besides ropsten or xdai - I receive a notification to change network and by default metamask prompts me to switch to xdai - and it successfully switches the network to xdai

this issue looks to be resolved as intended! moving to DONE

[2021-12-27 19:16] MoeNick opened #598 "navbar drop-down menu becomes unresponsive"
navbar drop-down menu becomes unresponsive after navigating away from the home page (to the projects page for example)  - the issue is only resolved on a fresh page load.

_Originally posted by @divine-comedian in https://github.com/Giveth/giveth-next/issues/582#issuecomment-1001692833_

[2021-12-27 19:20] divine-comedian commented on #586
testing on `next.giveth.io`

on mainnet and xdai

looks like the overlap issue has been resolved!
![image](https://user-images.githubusercontent.com/67759413/147501080-3c50b546-9827-40e8-a2bd-68cf4ed2cab7.png)

moving to done

[2021-12-28 14:09] divine-comedian commented on #583
testing on `next.giveth.io`

checking out the traceable projects I no longer see the traces tab -
![image](https://user-images.githubusercontent.com/67759413/147573324-ca44d706-5535-4685-98ce-3e4fa4e541bb.png)

looks to be done!

[2021-12-28 14:44] divine-comedian commented on #117
is this issue ready to be tested? are the comments above resolved? what does success look like?

[2021-12-28 14:47] divine-comedian opened #599 "add slug for project search query"
I'm suggesting a feature to append the url for when I'm searching for a project with a particular query  i.e keywords, sortBy, filterBy, category -

this would be nice because when I'm searching for a project when I navigate to learn more and hit the back button on my browser I lose my search query parameters - adding in a slug would make it easier to search through different projects that match m

[2021-12-28 14:53] MoeNick commented on #596
@aminlatifi I mention you here, you have ideas changing the setting of gas in metamask also

[2021-12-28 14:56] aminlatifi commented on #596
It's so easy. Pass this data as the last parameter of function which makes the tx, it edits the gas setting

https://github.com/Giveth/liquidity-mining-dapp/blob/5168d74fb6c79189684922c93134ff57b81dab54/src/config/production.ts#L90

[2021-12-28 15:28] CarlosQ96 commented on #117
Yes this was tested in production by Ashley and Griff, they added donations to the projects.
And the GivingBlocks team confirmed the donations in their backend.
We modify some projects in the adminbro for a certain organization and everything was fine.

[2021-12-28 16:13] MoeNick opened #600 "400 error on Opera in donation page"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/37b87c83-60e8-42fb-839e-ac19ea8a6dfb)

[2021-12-28 16:36] divine-comedian commented on #117
@CarlosQ96  is this issue done then?

[2021-12-28 16:49] divine-comedian commented on #509
text looks to be updated - good enough for now until we can get a full legal review
![image](https://user-images.githubusercontent.com/67759413/147588615-89193505-8508-454f-824e-37239e7d8e10.png)

moving this to DONE

[2021-12-28 16:50] GriffGreen opened #601 "Integrate ENS into giveth Next as an experiment for an eventual more thorough typescript integration"
![Screen Shot 2021-12-28 at 10 48 24 AM](https://user-images.githubusercontent.com/14945613/147588599-d26ed7f2-9084-44d8-a93d-ee16421c1808.png)

https://docs.ens.domains/dapp-developer-guide/resolving-names#reverse-resolution

[2021-12-28 16:53] CarlosQ96 commented on #117
yes :D

[2021-12-28 16:55] divine-comedian commented on #581
I checked both cases including while viewing a project that I own as well as the project creation high five page -

both had the aforementioned updated link.

moving to DONE!

[2021-12-28 23:08] mateodaza commented on #600
Is this trying to donate using Opera mobile browser?

[2021-12-29 04:57] MoeNick opened #602 "Mobile menu doesn't open on Giveth.io when opened in Web3 browser like metamask."

[2021-12-29 10:18] mohammadranjbarz opened #603 "Setup integration test infrastructure"

[2021-12-29 10:46] MoeNick opened #604 "IO New Design: Projects Page"

[2021-12-29 16:29] laurenluz opened #605 "If the backend is down, there should be a popup for the user before they donate explaining that they may not get GIVbacks"
To avoid any issues that arise from not being able to track donations when the backend is down, the frontend should know when the backend is down.

If the backend is down and the user tried to donate to a verified project, when they click "DONATE" they get a modal that says:

" We are currently experiencing technical difficulties. If you donate now, you donation may not be stored in our database a

[2021-12-29 16:50] laurenluz opened #606 "If a user is trying to donate to a verified project with a not-whitelisted GIVbacks token, they get a popup explaining that they might not get GIVbacks"
The user selects the (non-whitelisted) to token and clicks "donate". They get a popup that says:

"The token you have selected to donate is not eligible for GIVbacks. To see the full list of eligible tokens, please refer to our GIVbacks documentation."

Where "GIVbacks documentation" is a link to https://docs.giveth.io/giveconomy/givbacks

And there is a button that says "DONATE ANYWAY" that promp

[2021-12-29 18:57] geleeroyale opened #607 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
My donations in eth and GTC are missing/not showing up at giveth. I was the first to donate to GTC grants/Builders fund according to the contract.. BrianMillsJr.eth
![image](https://api.typeform.com/responses/files/c6c320be600d7a4a6eb3f308d244dbbaa1e7d9ff817bdd57d1981b90108d7ef8/Giveth_send.png)

[2021-12-29 19:23] MoeNick commented on #605
This problem may occur after the donation is built, so at the time the trx is went through the network we may dont have any problem, but after the confirmation of trx from network we may have a lost connection. In this case we have to log the failure to another server to calculate the givback manually or by a script. Ideas @mohammadranjbarz @CarlosQ96 and @mateodaza ?

[2021-12-29 19:29] mohammadranjbarz commented on #605
My idea is that we should it see it as simple as possible, so my solution:
When creating donation request fails, frontend should save the donation info in localStorage and in intervals retry it, and if the donation will be in local storage, after closing tabs by user, and open it again, frontend can check it to see if there is failed requests in local storage , retry it

[2021-12-29 19:32] MoeNick commented on #606
Is that decision was already made from the forum post?

- Do we have to have a token white list  in the backend?

- Should we only have one white list fir every project? Or it should be change for the type of project ?

- How are we going to update the white list? Once a day? From which source?

@divine-comedian @mohammadranjbarz you may make it more clear

[2021-12-29 19:47] mohammadranjbarz commented on #606
1. Not as you think, we should make it and implement a query to frontend use it
2. I think we should have one whitelist for verified tokens and it's not related to projects, whitelist for every project just makes complexity, and with the things that talked in forum post, I can,t find any reason for that
3. @laurenluz  or  @divine-comedian  Can answer that

[2021-12-29 21:20] laurenluz commented on #606
The details of the whitelist haven't been confirmed yet on the forum, but we will have them for sure!!

This issue is blocked by completion of the GIVbacks token whitelist

[2021-12-29 23:03] mateodaza commented on #596
Gonna make this a separate issue

[2021-12-29 23:06] mateodaza opened #608 "Set minimum gas possible on Metamask when making a donation"
Following this [discussion](https://github.com/Giveth/giveth-next/issues/596#issuecomment-1002144103)

[2021-12-29 23:53] mateodaza commented on #608
Just realized we are not calling a contract method but a direct transfer. The web3 provider will suggest the "regular" speed tx by default. I think this is fine. Closing

[2021-12-29 23:53] #608 closed

[2021-12-30 00:04] laurenluz opened #610 "After donating to a verified project (with a whitelisted token) the user should get a popup telling them they have to wait to get GIVbacks"
On the "You're a donor" now page.. let's have this say...

"You're a donor now"... everything the same until after "View transaction details"...

Then it says:

The it does to the donations thing
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/9d5dc6a3-6e72-415d-be63-c8209829a255)

[2021-12-30 00:06] laurenluz opened #611 "Your a Giver now - copy fix on donation confirmation page"
The copy on this page is so weird... weird grammatically and weirdly repetitive. Let's fix it.

You're a giver now!

Thank you for your support.
Your x TOKEN contribution goes a long way!
View transaction details

Then the GIVbacks thing as per #610 (if the project is verified and the token was on the whitelist)... then

Your donation makes a difference (or maybe we just say nothing here??)
View y

[2021-12-30 08:30] aminlatifi opened #613 "Config rate limit on nginx configuration of sensitive services"
## 📋 Anything to add?
Nginx rate limit is an important tool for preventing simple DDoS attacks, as one occurred for trace.giveth.io endpoint.

## ❓ Why is it important?
Our services can be out of service.

## 🎉 Subtasks

- [ ] impact-graph main
- [x] impact-graph stage
- [x] trace.giveth.io (preview service)
- [x] develop.giveth.io (preview service)
- [x] featehrs develop
- [x] feathers beta
- [ ]

[2021-12-30 12:32] mateodaza commented on #601
It's live :)

I'm confused by the avatar though, what does it mean?

[2021-12-30 13:45] geleeroyale commented on #613
Thanks Amin! I can put it on the servers - can you post the snippet you used for posterity as well?

[2021-12-30 14:12] aminlatifi commented on #613
@geleeroyale  I used the nginx rate limit and it's configured for feathers and trace preview services. But please check them again.

[2021-12-30 23:55] laurenluz commented on #606
ok! @MoeNick, as per my proposal in the forum: https://forum.giveth.io/t/which-tokens-donated-are-eligible-for-givbacks/231/9 (which seems very likely to pass)

We're calling it the "GIVbacks Token List" and it will be same for every verified project. The list will include the tokens we have already added to the DApp (in the donation drop down menu) and will list them in a post on the forum (I wil

[2021-12-31 16:24] GriffGreen opened #614 "User having trouble updating their project"
## 📋 Anything to add?

Got this as a message from Will Ruddick who owns:

https://giveth.io/project/Grassroots-Economics-Community-Currency-0

<img width="527" alt="Screen Shot 2021-12-31 at 10 20 52 AM" src="https://user-images.githubusercontent.com/14945613/147832260-a6fa25f6-3be6-4bd3-bf93-b38c436d2096.png">

Here is the attached screenshot:
<img width="1376" alt="Screen Shot 2021-12-31 at 10 2

[2022-01-03 22:36] mateodaza commented on #606
I'm trying to come up with a great UX for this but struggling to make it the less annoying as possible, do you have any suggestion?

I was thinking instead of a popup, it's just a clearer message near the button

[2022-01-04 02:56] laurenluz opened #615 "Whyyy can't I sign in with MetaMask on next.giveth.io????"
So frustrating... I can't seem to sign in with metmask on next.giveth.io... on with Torus. and Torus isn't working for me... so I can't sign in at all....

![image](https://user-images.githubusercontent.com/75490971/148003550-09e1bcb5-08fe-4e49-8b38-c0328d0bd85d.png)

![image](https://user-images.githubusercontent.com/75490971/148003589-80222305-c18a-47ce-ad21-48c80e22830e.png)

[2022-01-04 02:58] laurenluz commented on #606
What if we made it a little red text alert thing under here that says "This Token is not eligible for GIVbacks. Learn More." And "Learn More" is clickable and it opens the popup I described in my first issue.

![image](https://user-images.githubusercontent.com/75490971/148003679-4868dad3-d33e-4a43-89f4-b19181cfe7eb.png)

[2022-01-04 14:39] laurenluz commented on #606
FYI - the token list is up in the forum! https://forum.giveth.io/t/givbacks-token-list/253

I edited the suggestion in the issue so that the list is here, rather than in the documention.

[2022-01-04 14:41] laurenluz commented on #548
Can we maybe just change this to say "verified" or "verified and traceable" on the little circle?

when people are looking for verified projects, it is not immediately clear that "traceable" project qualify.

[2022-01-04 19:05] ForestSoleil opened #616 "Change URL on a project"
I changed the title of my Giveth project and would like for the URL to reflect this change.

Prpject: Teva Natural Birth Sanctuary

Currently url: /teva-natural-birth-micro-village

[2022-01-05 03:29] geleeroyale opened #618 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I have uploaded multiple photos for each update for my project but they do not all seem to load properly. They are small file sizes so it shouldnt be an issue. I uploaded a screenshot where it shows the photos as white squares underneath the text that wont load
![image](https://api.typeform.com/responses/files/292c5e01dae1b9ed9c55b6a94e02d

[2022-01-05 09:11] MoeNick commented on #548
@markoprljic
Just mention you here if you can help us with this issue, the problem in general is: Traceables are verified as well, In new design, I see that projects cards can have two lables beside each other. but for this next version,  we don;t have a clue.
I'm suggest we just add another badge in "Project One Page" and we skip changing the design for this nextjs.

[2022-01-05 11:02] #120 closed

[2022-01-05 15:13] laurenluz commented on #548
Maybe for this version, just to make things clearer for users looking to get GIVbacks, we just change Traceable to Verified and then in typescript version have the two labels.

[2022-01-05 15:43] MoeNick commented on #548
- [ ] in Projects page: Changing the badge in small circle from Traceable to "Traceable & Verified"
- [ ]  in "Projects One Page": Add a "Verified" badge to traceable projects.
@mateodaza pls DM me if it's not clear enough.

[2022-01-06 14:32] geleeroyale opened #619 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
Hi, I gave some projects I like a heart with the idea I could easily come back to them later to donate. I thought of it like a bookmark. But when I sort by hearts it shows projects with the most hearts. That is nice too, but would it be possible to add something like sorting by "My hearts" that would show the projects that I gave a heart? Th

[2022-01-06 16:15] geleeroyale opened #620 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
Have a feed of the latest project updates displayed somewhere on the DApp.

[2022-01-06 18:14] laurenluz commented on #605
@markoprljic FYI

[2022-01-06 18:15] laurenluz commented on #610
@markoprljic FYI

[2022-01-06 18:15] laurenluz commented on #606
@markoprljic FYI

[2022-01-07 00:06] WhyldWanderer opened #621 "Support page typeform links need updated"
We upgraded the typeform account. I didnt realize that all of the links connected to that account would be changed.
Currently they go to a redirect page but it would be nice to update them to the correct link

![image](https://user-images.githubusercontent.com/74267818/148469592-055d2da1-db84-4f4f-98e4-7b24cdf0106f.png)

Here are the updated links:
Ask us a Question - https://giveth.typeform.com/q

[2022-01-07 14:42] laurenluz opened #622 "Tried to donate, was connected to xDai but it thought I can on mainnet!"
I got an "insuffient funds errors"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/2c280104-a496-4f63-a6cc-18c3a9d8fe20)

[2022-01-07 14:44] laurenluz opened #623 "Can't open "My donations" until trying several times..."
it asks me to sign to authenticate... even though I was already connected... and then gives me a blank giveth screen

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/80c85d90-0c2e-42d7-9329-8656d688b766)

... I had to do it 3x before it worked properly

[2022-01-07 15:03] MoeNick commented on #623
@mohammadranjbarz
Might be related to Rate-Limit?

[2022-01-07 15:05] MoeNick commented on #622
@mateodaza @CarlosQ96 Would you pls take a look?

[2022-01-07 15:16] laurenluz opened #624 "The "tweet your donation" tweet is super weak - let's make it better"
We should also check to see what the content is on linkedin & facebook. @Brodyann7 are you up for helping write better tweets/messages for these social media shares?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ff8275ac-aa2f-4c4e-b9a3-8fdd118c5af0)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/f97789c3-f8f8-4d88-aa5d-18ddedaceeda)

[2022-01-07 16:50] Brodyann7 commented on #624
Suggestion:

I am a Giver and you can be one too! 💙  @Giveth (link). Let’s build the future of giving together! #Giveth 🌏 🙌🏾 🌈 💜

- Emojis can be changed but always nice to have those in there

[2022-01-07 18:16] RamRamez commented on #451
@divine-comedian
All emails from Autopilot to me is pointing to a single project ([this one](https://giveth.io/project/greensteps%C2%A0)) that is not mine

![image](https://user-images.githubusercontent.com/73441857/148588420-9df65f74-19be-404f-be2c-67fde2cbff2f.png)

[2022-01-07 18:54] laurenluz commented on #624
That's awesome @Brodyann7 - Made some minor tweaks (our correct twitter handle & capitalizing out tagline, and I changed the emoji colour to the yellow one because it fees the most neutral to me). I'll make another issue for linkedin & facebook.

@MoeNick can you assign the correct dev to update the current share tweet to this one:

I am a Giver and you can be one too! 💙 @givethio <link>
Let’s Bui

[2022-01-07 18:58] laurenluz opened #625 "Check & potentially update the content for the Linkedin & Facebook shares"
From this this page... related to #624

@Brodyann7 can you look into it? I'm not sure if they are the same or different that the twitter one

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/10b84c3f-c791-4c97-814c-1506facf3d17)

[2022-01-07 19:44] MoeNick commented on #624
We only have @mateodaza 💜

[2022-01-07 20:11] WhyldWanderer opened #626 "Donations not showing up"
One of my donations isn't showing in "my donations" or on the project page...
here's the

tx: https://blockscout.com/xdai/mainnet/tx/0x3f14c65500ecb1a890c9884c31c279632367e2faf332c108ea11eaa176d77c2d

[2022-01-07 21:20] Brodyann7 commented on #625
The Facebook one is the same as old Twitter and the Linkedin one doesn't really have anything aside from the banner from the project contributed.

Can do something similar-ish to the Twitter post

I am a Giver and you can be one too! 💙  Let’s Build the Future of Giving together!
Learn more at https://www.giveth.io/   🙌 🌈 #maketheworldabetterplace 🌏 💜

[2022-01-08 15:48] mateodaza commented on #622
I can't replicate this, it could be a metamask bug?

[2022-01-08 16:03] MoeNick opened #629 "picture uploading fails on project update"

[2022-01-08 16:07] MoeNick commented on #626
Did it resolved?
Would u pls relate it to the PR?

[2022-01-08 17:08] aminlatifi commented on #626
The entry was created for this donation had incorrect value for `projectId` and `userId`. It was probably created manually and the values were field instead of each other.

However, the reason behind missing entities like this is not clear yet. We don't have any clue and there isn't anything recorded in log records.

I and @mohammadranjbarz deduced that the only temporary solution is to add segmen

[2022-01-09 20:48] MoeNick opened #630 "A project named positiveBlockchain is duplicated."
![image](https://user-images.githubusercontent.com/80677512/148700211-46bf8d83-a35c-4c5f-8a40-57e5cff90c18.png)

[2022-01-09 21:14] MoeNick commented on #630
I noticed also that one project has 2 URLs.. but is the same project. maybe these things are related?
https://giveth.io/project/typhoon-rai-relief-and-recovery-fund-for-the-philippines

https://giveth.io/project/typhoon-rai-relief-and-recovery-fund

[2022-01-10 12:41] MoeNick commented on #630
@WhyldWanderer for positive blockchain, they made two projects and one of them should get deleted if you have any contact from them appreciate you can go ahead with this process.

[2022-01-10 12:46] MoeNick commented on #630
@WhyldWanderer for typhoon rai relief, we made it possible, if the users change the title, they still could use the old URLs. so it's a feature and I don't think it causes a problem.
Moving it to UA to test again and make sure we don't have any problem especially on auto-pilot emails.

[2022-01-10 13:00] MoeNick opened #631 "Improve Sentry and Segment Logs in frontend"
The entry was created for this donation had incorrect value for `projectId` and `userId`. It was probably created manually and the values were field instead of each other.

However, the reason behind missing entities like this is not clear yet. We don't have any clue and there isn't anything recorded in log records.

I and @mohammadranjbarz deduced that the only temporary solution is to add segmen

[2022-01-10 13:18] #180 closed

[2022-01-10 13:19] MoeNick commented on #185
It's possible to donate with any tokens right now.

[2022-01-10 13:21] MoeNick commented on #152
Is it still alive @divine-comedian ?
If yes, let's move it to the typescript repo.

[2022-01-10 16:21] geleeroyale opened #632 "Maintenance Mode"
We need to do maintenance periodically to keep backend services and their dependencies up to date. Because we did not have too many users before we used to just to these maintenance procedures taking the risk to disrupt the session of one or two users. Now that the service has matured, we can't do that anymore. **Users need to be informed about maintenance** before and during the operations

My su

[2022-01-10 16:39] MoeNick opened #633 "Save failed donations in FE and retry it later"
- [ ] Save exception in FE
- [x] Send an event to Sentry
- [x] FE will retry it.

[2022-01-10 17:44] WhyldWanderer commented on #451
@RamRamez what is the email address where you are receiving these emails? And what is your project name?

[2022-01-10 18:53] laurenluz commented on #625
@mateodaza can you update these for Facebook and Linkedin too?

[2022-01-10 19:08] geleeroyale opened #634 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
A way for project owners to thank donors through Giveth

[2022-01-10 19:17] laurenluz commented on #622
maybe it was a metamask issue... but i was connected the whole time on xdai, doing other donations, everything working just fine.... then suddenly the DApp thought I was connected to mainnet when I went to do *that* donation.

I also can't replicate it.... we can call it done, but I think it may be a lurking issue somewhere (or just a weird fluke)

[2022-01-10 19:30] laurenluz commented on #298
@MoeNick @mateodaza can we get this on the priority list... I really wish the project sorting was improved... the default right now are projects that were added a long time ago... and then new projects that gain popularity have no chance to catch up.

[2022-01-10 19:39] MoeNick commented on #632
Two first checkmarks should be approved by Comms Team. Just mention @WhyldWanderer and @laurenluz to prioritize it.
the last checkmark: "_Switch to maintenance mode on the frontend_" can be done by @MohammadPCh  , pls let me know if you need any design, etc.

[2022-01-10 19:46] laurenluz opened #635 "The Giveth History page is wildly out of date"
It's here, under "History": https://giveth.io/about

I'm writing something for an interview, and will provide a 1-2 paragraph replacement for this text here.

It should also link to our docs: https://docs.giveth.io/whatisgiveth/history

[2022-01-10 20:04] MoeNick commented on #298
I understand the importance, but I think we have to rush the TP version with a new design to the end and after that, we start adding new functionalities. You know, it's too hard keeping the 2 versions running, so the sooner we finish the TP, the sooner to be able to add features and functionalities.

[2022-01-10 21:07] divine-comedian commented on #152
I think we can let this one close since we will be implementing transak instead and we also have the fiat on-ramp via torus

[2022-01-10 21:16] divine-comedian commented on #451
I talked to Ramin and he said he wasn't sure if this was resulting from staging or production - we've identified that the autopilot slugs will not work properly for projects only on staging.

I can't seem to reproduce this error.

[2022-01-10 21:48] geleeroyale opened #636 "weird error on updating project update"
**Please describe the issue or bug you are experiencing:**
Tried to update the Commons Stack Project and got a weird error even tho the update worked
![image](https://api.typeform.com/responses/files/3198e3c3cbdf5e851d382f473ad3ba2e7142d1a21f361e426d174374c70d18c9/Screen_Shot_2022_01_10_at_3.43.11_PM.png)

[2022-01-10 21:49] geleeroyale opened #637 "Links on the support page are broken"
**Please describe the issue or bug you are experiencing:**
The Links on the support page and all other links to the typeform need to change because we changed the typeform link
![image](https://api.typeform.com/responses/files/cec89af0d31e28ada7c148e0be74a14c915abd9511bb1e18a4c2d1ac8f5d8851/Screen_Shot_2022_01_10_at_3.48.42_PM.png)

[2022-01-10 22:27] WhyldWanderer commented on #637
There is already an issue for this here:
https://github.com/Giveth/giveth-next/issues/621

[2022-01-10 22:39] laurenluz commented on #632
How long does the maintenance take @geleeroyale ?

We can add it to our documentation. @divine-comedian - maybe you can find the appropriate place while you're working on the docs.

@WhyldWanderer do you think we should send a one-time email from autopilot to let them know about this before the first time?

[2022-01-10 23:01] geleeroyale commented on #632
Depends. Usually its very quick. The timeframes would vary over maintenance periods in the future. The most important point is to communicate it to users on the frontend so they don't interact with it while some backend service is down.

[2022-01-11 14:12] MoeNick commented on #616
Both old and new URLs are working fine, it;s a feature to avoid broken links if there were used somewhere before editing.

[2022-01-11 14:12] #595 closed

[2022-01-11 14:40] MoeNick opened #638 "Users can't log-in with Torus on Brave"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/494be6d1-2b94-4263-a82e-21e18c3af755)

[2022-01-11 14:45] MoeNick commented on #184
Users can copy the token address in the drop-down menu and start donation with every token right know

[2022-01-11 14:48] MoeNick commented on #607
@CarlosQ96 can you pls take a look?

[2022-01-11 14:52] CarlosQ96 commented on #607
On it!

[2022-01-11 15:25] MoeNick commented on #613
@geleeroyale if you have any blocker pls let me know

[2022-01-11 18:05] geleeroyale commented on #613
We such a confusing array of feathers services 😅

I updated these:

serve.giveth.io
dappmailer.giveth.io
feathers.giveth.io
feathers-alpha.giveth.io
feathers.beta.giveth.io
feathers.bridge.beta.giveth.io
feathers.develop.giveth.io
feathers.bridge.develop.giveth.io
feathers.bridge.release.giveth.io
feathers.mainnet.giveth.io
feathers.release.giveth.io

- others were updated by @mohammadranjbarz and

[2022-01-11 20:46] mateodaza commented on #636
duplicate #614

[2022-01-11 20:46] #636 closed

[2022-01-11 20:54] mateodaza commented on #621
@WhyldWanderer all this info comes from contentful. A property called onboardingLink.
Can you check in the dashboard?

[2022-01-11 21:14] mateodaza commented on #614
It's not related with Firefox, I tried it out there and it works.

@GriffGreen  can you ask him to do it again, I see the screenshot is from 31st of Dec and I think we solved that issue after that date

[2022-01-11 21:15] WhyldWanderer commented on #621
HAHA!! I fixed it! Take that contentful!!

Thanks @mateodaza I didnt realize i could fix this myself.
Tested it and the new links are working.

[2022-01-11 21:16] #637 closed

[2022-01-11 21:17] mateodaza commented on #638
Having a call with torus dev about this tomorrow

Thanks @MoeNick for setting that up

[2022-01-11 21:37] mateodaza commented on #631
We already had a logger working with sentry but not in all exceptions.

I'll add this for as many as I find specially the project donation - for the typescript version we must make sure all catch has the logger set there

[2022-01-11 22:12] mateodaza commented on #623
@laurenluz you still getting this?

[2022-01-11 22:21] mateodaza commented on #625
We don't have much control on LinkedIn, updated facebook without emojis sadly

#zuckerbergisboringaf

[2022-01-12 11:33] markoprljic commented on #548
@MoeNick I wouldn't much bother with the design of this, however you guys can do a quick fix is fine IMO. We're focusing on new design soon to be released.

[2022-01-12 11:35] MoeNick commented on #548
@markoprljic I agree, just to confirm with you, can we add multiple badges to a project in a new design, it's better we have an example there.

[2022-01-12 11:38] markoprljic commented on #605
For this and similar modals and popups, we have a Modal component in the design system that can and should be used for these and similar situations, unless we have to design a custom modal for something specific. In this case, @MoeNick please make sure devs use the modal component and change the content of it to accommodate this scenario. Thanks.

[2022-01-12 11:41] markoprljic commented on #610
Donor instead of giver? Oh no.... I'm not happy with this suggestion. Anyone else have an opinion on this?

I'll add the extra copy for GIVbacks.

[2022-01-12 11:41] MoeNick commented on #605
I think this issue was misunderstood, it's a technical thing not related to UX, the problem is happening when we don't know backend is down, if we knew yes we should have a model and prevent the user go ahead.
But in this case we are following other issues to retry the missed transactions add logs : #633

[2022-01-12 11:44] MoeNick commented on #610
@markoprljic I think you and @mosaeedi can apply it to the new design and we can implement it:

- [ ] White-list warning if the selected token is not eligible

- [ ] How to communicate after donation.

[2022-01-12 13:09] markoprljic commented on #606
Changes made to accommodate the scenario of donating with GIVbacks eligible and not eligible tokens.

1. User should be able to see this in the token list dropdown
![Image 2022-01-12 at 2 03 16 pm](https://user-images.githubusercontent.com/5704285/149145795-b544265c-da78-42c9-8d45-9e00f2bbf1cc.jpg)

2. When **not eligible** token selected
![Image 2022-01-12 at 2 04 07 pm](https://user-images.githu

[2022-01-12 13:29] markoprljic commented on #548
Yes, that's supported in new design.

[2022-01-12 16:43] ForestSoleil commented on #616
Thank you moe nick! This works.

[2022-01-12 17:11] laurenluz commented on #632
Discussing it with the comms team, we don't think an email would be good because people are getting annoyed with them.

Can we instead add a banner on fridays that explains "maintenance coming soon"? @divine-comedian will write copy for this and the splash page.

[2022-01-12 17:11] laurenluz commented on #632
@markoprljic can you help with the design of the splashpage & warning banner?

[2022-01-12 17:29] markoprljic commented on #632
Yes. cc/ @rodricastillo9013

[2022-01-12 21:18] geleeroyale opened #639 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
When I click load more at the bottom of the projects page, I receive a weird error about token.
![image](https://api.typeform.com/responses/files/fc27170c07876ccbc82c63721ff7e5c58155ade099e25b7ccdd0e934b2002e90/Screenshot_2022_01_12_3.18.04_PM.png)

[2022-01-12 21:21] geleeroyale opened #640 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I see this weird code at the bottom of the page when I click the 'Projects' tab sometimes
![image](https://api.typeform.com/responses/files/a0240de8c7ea89384a022e89427ad9595317744ffadeb6ce7180d9435fee270a/Screenshot_2022_01_12_3.20.54_PM.png)

[2022-01-13 12:27] MoeNick commented on #632
@MohammadPCh is off on Fri and Sat, is there any chance we have the design sooner to get it implemented today @rodricastillo9013 ?
I think we need it on Sat

[2022-01-13 12:31] mateodaza commented on #640
@mohammadranjbarz should we increase the rate limit?

[2022-01-13 17:01] rodricastillo9013 commented on #632
Hi  perfect I'll get on with this now!

[2022-01-13 17:56] rodricastillo9013 commented on #632
<img width="1440" alt="Header - Maintenance" src="https://user-images.githubusercontent.com/61791380/149383546-a60b5f7e-06b1-4cca-a625-bf242d356fcf.png">
<img width="1440" alt="Home Maintenance" src="https://user-images.githubusercontent.com/61791380/149383559-f07cffaa-4bbe-4f75-9a31-ce12b78ce462.png">

[2022-01-13 17:56] rodricastillo9013 commented on #632
what do you think of these designs?

[2022-01-13 18:03] markoprljic commented on #632
I'd use the same darker purpler on the second mockup (Splash page) and include logo and offer user to go to Medium or Youtube or somewhere else.

[2022-01-13 18:06] rodricastillo9013 commented on #632
ok i will make the changes

[2022-01-13 18:35] rodricastillo9013 commented on #632
<img width="1440" alt="Home Maintenance2" src="https://user-images.githubusercontent.com/61791380/149389112-1ed64e1c-7d59-4cd7-894a-3bc1069d624f.png">

[2022-01-13 18:36] rodricastillo9013 commented on #632
What do you think? @markoprljic

[2022-01-13 18:37] markoprljic commented on #632
Nice.

@divine-comedian owns this issue, please review and approve.

[2022-01-13 18:40] rodricastillo9013 commented on #632
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2%3A66

[2022-01-13 18:47] markoprljic commented on #632
While we're at this, I think we need other error pages 404, 501 etc https://www.presslabs.com/how-to/error-pages/

Let's create a section in Figma and put them all there.

[2022-01-13 19:34] laurenluz commented on #635
@MoeNick I wrote content for this here: https://hackmd.io/2B8IVfeeQ0yIMh5AtjAq8A

Can you assign the right person to take on updating it?

[2022-01-13 21:59] laurenluz opened #642 "Make it so that "Purple list" address cannot donate on Giveth.io"
This is a very clear instance of violating the GIVbacks program rules. Would be nice if we could make this impossible...

@WhyldWanderer  @mohammadranjbarz do we have the purple list clearly accessible somewhere?

What's the best way to make this happen?

[2022-01-13 22:02] mateodaza commented on #642
front end could be manipulated, I believe the best is to have that condition on the mutation

[2022-01-13 22:14] mohammadranjbarz commented on #642
@laurenluz  @mateodaza

I have a query for getting purple list, but I should do some changes on that, for appending the ñist that ashley give me,

My suggestion is frontend get the list, and show a warning to user that donating with this wallet would not receive givbacks, and if user goes forward, it means user doesnt wabt givbacks

[2022-01-14 02:37] WhyldWanderer commented on #642
I think this is a great topic to consider in the larger picture that has been discussed regarding accounts and connected wallets. I think I remember someone suggesting once that people could have a donor profile and a project profile. I think it is logical with our current "purple list" system to keep these addresses from donating on the UI - although this may make it harder to track/catch things.

[2022-01-14 11:40] divine-comedian commented on #632
@rodricastillo9013  @markoprljic  looks great! I think @MohammadPCh  can start

[2022-01-14 13:45] WhyldWanderer opened #643 "Donating does not affect total amount raised"
I made a donation this morning in GIV..

My donations successfully shows on the project page and in 'my donations' but the total amount raised did not change at all.

![image](https://user-images.githubusercontent.com/74267818/149525093-10703262-ee0a-42d7-854f-d0b3ec56ad20.png)

[2022-01-14 15:09] markoprljic commented on #610
![Image 2022-01-14 at 4 09 27 pm](https://user-images.githubusercontent.com/5704285/149538054-73d231ca-0037-41c2-bf08-c9748ab0cbad.jpg)

@laurenluz @MoeNick

[2022-01-14 15:51] mateodaza commented on #642
Is the main purpose remove the ability for those to donate or to make them aware they won't receive any GIV back?  @laurenluz

[2022-01-14 15:54] WhyldWanderer commented on #643
tx: https://blockscout.com/poa/xdai/tx/0x2a63f2a4fc7d3470c3967ee6b8976f9cc731b1c41590ce7615604edd621843c6

[2022-01-14 16:08] mateodaza commented on #633
This sounds like a good [strategy](https://www.apollographql.com/docs/react/api/link/apollo-link-retry/) using apollo link retry - will try it out

[2022-01-14 16:35] WhyldWanderer commented on #642
I know Im not lauren... but I just want to say that ideally we would use the warning of not getting GIVbacks for now..
Then brainstorm ways of how we can incorporate this into profiles/accounts in the future in a way that purple list addresses will not be able to donate through the UI.

[2022-01-14 16:50] laurenluz commented on #642
it came up because of a instance this round where a project donated to themselves from the same address. it was just a clear example of someone trying to game the system, and we were thinking this should be made impossible.

I guess making a warning is good... but I also wish also that we could just make it impossible you know? like if the project is donating to themselves they should get a notifi

[2022-01-14 17:42] WhyldWanderer commented on #642
Those donations are on the purple list and wont be eligible anyways... so technically, its already impossible to receive GIVbacks for donating to your project wallet. I think that is the most important part. People can waste gas and send funds to their own wallet if they want but they wont get GIVbacks.

I know that there is already work being done towards creating different profiles/accounts for

[2022-01-15 17:04] CarlosQ96 commented on #643
@WhyldWanderer Just notified and Mohammed added the method to update the total amount to his PR that fills GIV price.

[2022-01-15 22:00] kingsdami opened #644 "hanging 3xdai"
## 📋 Anything to add? i donated 3xdai to fund a project and i cant find it on the donation page on giveth

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2022-01-16 16:52] Danibelle opened #645 "Transfer Ownership of Projects - ReSourcery & Rios Limpios"
These two projects sprang from the Diamante Bridge Collective as a Trace, and are now their own entity!

Please transfer the ownership of these projects from this address: 0x7554f10Da3Ed7128300577e55abCd8F8835BCee4

To:

Resourcery - 0xA36a5453Be6Ef6f3739E8A9B0C656B328Ae099f3
Rios Limpios - 0x2E6FdaC4f7778e902cC6cf632f58bc20AfA8718F

![image](https://user-images.githubusercontent.com/39466970/1496

[2022-01-16 17:02] MoeNick commented on #645
@Danibelle
Just to make it clear, you mean **the recipient** of the below project should change like this:

1- ReSourcery  https://giveth.io/project/RECenter-the-Resource-Education-Center-San-Salvador-0   ---> 0xA36a5453Be6Ef6f3739E8A9B0C656B328Ae099f3

2- Rios Limpios https://giveth.io/project/Rios-Limpios-Neighborhood-Grey-Water-Filtration-0  ---> 0x2E6FdaC4f7778e902cC6cf632f58bc20AfA8718F

So w

[2022-01-16 17:31] Danibelle commented on #645
No these addresses are already the project recipient - but they were created by the DBC account.
We want to give the project recipient the ability to edit and update their own project.

[2022-01-16 17:42] MoeNick commented on #645
So please would you let these 2 addresses create an account (and preferably complete the profile ) so we can be able to move the projects to them. @Danibelle

[2022-01-16 17:56] Danibelle commented on #645
Ah ha yes thank you!!

[2022-01-17 10:20] Danibelle commented on #645
DBC has a [post on their forum](https://forum.diamantebridge.org/t/resourcery-and-rios-limpios-project-owner-change/48/3) about this decision to track the ownership change.

[2022-01-17 10:21] Danibelle commented on #645
@MoeNick the profiles have been created.

[2022-01-17 10:22] MoeNick commented on #645
@CarlosQ96 can you jump into this task pls?

[2022-01-17 17:02] CarlosQ96 commented on #645
Yes, I'll do it. @MoeNick Question tho. Should we add something to the admin bro to allow ownership transfer? So if any other projects needs this, anyone of the verification team can do it.

[2022-01-17 18:05] WhyldWanderer opened #646 "Add ability to filter by slug in AdminBro"
Is it possible to add this function? @mateodaza @CarlosQ96

[2022-01-17 19:12] laurenluz commented on #606
@markoprljic the GIVbacks token list is the same as our drop-down list of tokens (right? @mateodaza @mohammadranjbarz) so the tokens that won't be eligible are ones that user copy/pastes in the address for. I don't think we need to have the "all" and "GIVbacks eligible" selectors.

I do think we should keep the message "This Token is/is not eligible for GIVbacks Learn more"

I also totally underst

[2022-01-17 19:48] MoeNick commented on #646
Yes, it could be, @CarlosQ96 can you provide an estimation for it?
@WhyldWanderer we currently planned for 2 weeks, if we find bandwidth we can include in our unplanned budget, but probably it takes more than 2 weeks.

[2022-01-17 19:56] CarlosQ96 commented on #646
AdminBro should have that functionality, I would add it.

[2022-01-17 19:57] MoeNick commented on #646
It's tiny, so I bring it to this sprint FYI ;) @CarlosQ96

[2022-01-17 20:16] MoeNick commented on #606
We'd better continue it on TP version, so I move the @laurenluz comment to a new issue and transfer it there, it's in our current sprint.

[2022-01-17 20:49] WhyldWanderer commented on #646
Awesome! Thanks guys...
Its not a rush.. just a nice to have.

[2022-01-18 09:23] MoeNick commented on #632
@MohammadPCh pls check the last checkbox in the description when it's completed. (It needs both on giveth.io & givEconomy)

[2022-01-18 09:23] #623 closed

[2022-01-18 09:38] MoeNick commented on #607
Any uodates @CarlosQ96 ?

[2022-01-18 20:35] geleeroyale opened #647 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
A way to generate a report of all donations made to a project in a specified time range.

[2022-01-19 05:52] CarlosQ96 commented on #645
@MoeNick @Danibelle I transferred the projects to the new users that use the new addresses respectively in our db. I double checked Giveth.io and it seems to be ok.
Please double check and let me know!!!

[2022-01-19 10:41] geleeroyale opened #648 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
The Vegan Africa Fund project was transferred 2GIV which don't show up in the wallet even when the token contract is important. Transaction: https://blockscout.com/poa/xdai/tx/0x1a19c311f8c82a7db796f0062b6a39b93f09f9c1e6b9eaed8edbd78f019af199
![image]()

[2022-01-19 10:49] geleeroyale opened #649 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
The project link doesn't work half the time when it's clicked, though when you search for the Vegan Africa Fund on Giveth projects, it comes up with the same link.
![image](https://api.typeform.com/responses/files/da7040230713a7bd9d8f2130ce70b276716320cd36735b21f75acb4c2c373893/givethnotfound.png)

[2022-01-19 17:13] #616 closed

[2022-01-19 22:09] rodricastillo9013 commented on #632
Hi! here I leave the link where I have created all the error pages, any comment is welcome, if we need any more specific let me know

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3934%3A106532

[2022-01-19 22:11] MoeNick commented on #632
Thanks @rodricastillo9013

[2022-01-19 22:28] laurenluz commented on #615
You know, I think it was actually because I couldn't get out of the torus popup with refreshing the page... and I didn't notive the X

I think this is just unideal UI for the torus wallet popup... but we have no control over that I think. right? if it's true, I think we just move to done.

[2022-01-20 00:46] WhyldWanderer opened #650 "Max character limit on usernames"
Check out this persons username:
https://giveth.io/user/0xb1f9aa0f6654a138013bfb1dac35fbaba76113ab

Does some weird stuff on the project page:
![image](https://user-images.githubusercontent.com/74267818/150241855-416d315c-b011-41ac-8dd3-df07ab98798d.png)

Maybe a max character limit on usernames??

[2022-01-20 03:30] CarlosQ96 commented on #646
@WhyldWanderer I activated the filter. please double check in staging. It was just turning a configuration on.

[2022-01-20 13:50] WhyldWanderer commented on #646
After logging into Adminbro on staging, I clicked project on the left hand side and got this..
Not sure if its related to the slug thing, but i havent been able to get the list of projects to populate.

![image](https://user-images.githubusercontent.com/74267818/150351168-5cf18f1e-228c-44ce-8b64-cc71f1989c35.png)

![image](https://user-images.githubusercontent.com/74267818/150351256-a2692806-d38f-

[2022-01-20 14:32] CarlosQ96 commented on #646
Investigating the issue. It seems to get stuck, sometimes it returns the projects but most of the time throws and error.

[2022-01-20 19:26] mohammadranjbarz opened #652 "The Donation link that se send in email is invalid"
![Screen Shot 1400-10-30 at 22.54.39.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/162fbbc7-a0eb-4005-a9a9-870332677ce9)

@MoeNick  @divine-comedian
I have donated to a project, and in email that I received was a button to `View Your Donations`, and when I clicked on that, it redirected me to an invalid link

https://giveth.apms5.com/anywhere/m?s=giveth&m=tr_3697f8ad-89b5-4a1d

[2022-01-21 05:06] CarlosQ96 commented on #646
@MoeNick after restarting the nginx of the server this was fixed. It seems something hang up in the deploy. But Ashley tested again after restarting all and it worked fine!

[2022-01-21 05:12] CarlosQ96 commented on #607
Working on issue 304. And that should fix this one finding the root cause.

[2022-01-21 12:55] divine-comedian commented on #652
can you provide more information? what browser are you using? I have received the same email and the link properly redirects me to `my donations` page on giveth.io - the link you posted in this issue also redirects me to `my donations`

[2022-01-22 06:21] mohammadranjbarz commented on #652
I donated with Google chrome in production (giveth.io)
I will forward the email that I received to you

[2022-01-22 06:27] mohammadranjbarz commented on #652
You are right, it was my internet problem, now it redirects me to my donations page

[2022-01-24 09:24] geleeroyale opened #653 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Hi there, on our project page, we have received 17 donations totalling just over $2k. In our wallet (Metamask), there is nothing, and then when you click Project Address and go to the etherscan.io page, it only shows two ETH donations totalling $33. Where is the rest? We don't actually want to withdraw those funds, but rather want to build

[2022-01-24 18:10] geleeroyale opened #654 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I'm trying to upload an update to my project (https://giveth.io/project/Afroecuadorian-Arts-and-Heritage-Museum-0) but I can't upload photos. Every time I try an error dialogue pops up. Also, when I try to submit the update without any image a "Authentication required." message appears even though I'm connected to xDai network through Brav

[2022-01-24 20:20] WhyldWanderer commented on #653
I think this user is only looking at mainnet donations... I will reach out to the email to explain how to check wallet balance on the xDai network... my guess is that they haven't configured their metamask for xDai yet.

[2022-01-26 01:13] geleeroyale opened #656 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Asking me for "authentication" to let me write an update on my project (https://giveth.io/project/Afroecuadorian-Arts-and-Heritage-Museum-0).
![image](https://api.typeform.com/responses/files/382524df0011a1a35d6ef5ed68d8c9b1c31609929eea7fda2055a046df44ff74/Capture.png)

[2022-01-26 14:26] laurenluz opened #657 "Make it clear on staging that your xdai donations will get lost"
should we?

we had someone send real xdai donations to staging projects

we could consider making xdai a test xdai chain
or set a limit for donations on staging, if it is >$1 can't let them donate
or make a banner on staging that says "don't donate real funds"

[2022-01-26 16:48] divine-comedian commented on #598
tested on MetaMask browser on mobile - no issues navigating to new pages via the navbar - issue appears to be resolved! moving to done.

[2022-01-26 17:03] divine-comedian commented on #548
double badges look to be working!

![image](https://user-images.githubusercontent.com/67759413/151210966-5598960c-7c1a-4b61-84c3-a422d852fad8.png)
---
![image](https://user-images.githubusercontent.com/67759413/151210649-516d6334-bd3a-4715-bcfe-a175f69d0362.png)

it seems there are two badges - verified and traceable is this intended? I think it looks fine in my opinion.

the project info page loo

[2022-01-26 20:15] MoeNick commented on #607
@CarlosQ96 shall I move it to UAT?

[2022-01-26 20:17] CarlosQ96 commented on #607
Yes.

[2022-01-31 14:50] #177 closed

[2022-01-31 16:32] WhyldWanderer opened #660 "Add newsletter subscription to join page"
Lets add the newsletter subscription to the Join Page!
I tried to see if I could add it through Contentful but there isnt a URL to link anything to.

Can it be coded directly into the page here?

![image](https://user-images.githubusercontent.com/74267818/151833491-b8cd7112-30d1-4b8c-9b7f-b1d8040a7db7.png)

The same way that it is on the homepage?
![image](https://user-images.githubusercontent.com

[2022-01-31 19:12] #638 closed

[2022-02-01 19:55] markoprljic commented on #642
1. Show a warning to user that donating with the purple list wallet would not receive givbacks.
2. If the project is donating to themselves they should get a notification saying "You can't donate to your own project!"

[2022-02-01 20:03] #600 closed

[2022-02-01 20:35] #47 closed

[2022-02-01 20:39] #97 closed

[2022-02-01 20:40] #272 closed

[2022-02-02 13:17] divine-comedian commented on #572
I added a quick update to the text to make it more descriptive - otherwise this looks great! moving to done
![image](https://user-images.githubusercontent.com/67759413/152161119-2276629f-22ac-44b5-87fe-e9466176923d.png)

[2022-02-02 13:21] divine-comedian commented on #508
this issue still appears to be unresolved - tested making several donations on ropsten with ETH and while the transaction is confirmed on MM we see the endless wheel on the donation page UI

![image](https://user-images.githubusercontent.com/67759413/152161755-aaa185db-17e8-4750-9d80-b6fd3fa71d5c.png)

[2022-02-02 13:40] divine-comedian commented on #610
testing on `next.giveth.io

after making a successful donation on xdai I receive this on the high five page

![image](https://user-images.githubusercontent.com/67759413/152162229-7649c623-fa89-4549-a122-5ecc1cb36400.png)

and if I try to donate with an ineligible token I see this -
![image](https://user-images.githubusercontent.com/67759413/152163663-69a58f26-99e6-49d4-8ee7-4f9f7ca4acfd.png)

was

[2022-02-02 13:48] divine-comedian commented on #611
donated on `next.giveth.io`

this is the copy that now appears:
![image](https://user-images.githubusercontent.com/67759413/152165868-85bd149d-ebb2-4a6e-8a29-73db521e5413.png)

looks to match what was suggested. moving to done.

[2022-02-02 15:26] MoeNick commented on #642
@mohammadranjbarz
Can we do it for #2 but what about #1

[2022-02-04 05:24] mohammadranjbarz commented on #642
It's possible to do second item , it even doesn't need backend work, frontend should just check the **userId** of donor is not equal to **adminId** of project

[2022-02-04 15:41] Danibelle commented on #642
When I donate I get this message.  It seems this is a second place where a purple listed wallet would be notified that their donation does not qualify for GIVbacks.

![image](https://user-images.githubusercontent.com/39466970/152557508-fc902a0f-3db8-46ae-8d03-d5da25444c7e.png)

[2022-02-04 18:42] laurenluz opened #662 "When I use my trackpad to scroll, my donation amount goes down"
This is sooo annoying! I noticed it, griff noticed it, someone on discord [noticed it](https://discord.com/channels/679428761438912522/835168432520429578/939225128716349520)

I put in 100 GIV to donate, then use my trackpad to scroll down to click "donate" and the 100 turns to 99 or 98... I think we should just remove the functionality that the user can adjust the donation number in the text field

[2022-02-04 18:46] laurenluz opened #663 "Add popcorn to our partners and friends page"
@divine-comedian can you do this?

Logo
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/aa4a68e5-fa81-4d2a-acfc-16ce679482e6)

Tagline
Aiding a revolutionary shift in global systems through accessible DeFi products that align financial wellbeing with positive global impact.

Link
https://popcorn.network/

Not sure if you had a particular system for the partners and frien

[2022-02-05 13:37] mohammadranjbarz commented on #642
@MoeNick  For first thing that macro said we need some implementation in backend, please create an issue for that if we wat to do it

issue title can be something like:
**Implement a query/webservice to check if an address is in purpleList or not**

[2022-02-06 01:27] geleeroyale opened #664 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
I porton.victor@gmail.com created this account: https://giveth.io/user/0x2fecb688bbc18549b6a3711712913e0915c71330 - Now I can't remember how I created it and how to access it. Please help to get my project back.
![image]()

[2022-02-07 12:48] divine-comedian commented on #663
DONE! also created an issue to make sure our partnerships are kept up to date for the typescript version

[2022-02-07 16:51] geleeroyale opened #665 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
The projects I created no longer appear in my account, thereby preventing me from giving updates on them.
![image](https://api.typeform.com/responses/files/2694a5d9f936b686f3138e654d883fcc924198072c970821a065d461a92d505c/screenshot_giveth.io_2022.02.07_16_50_53.png)

[2022-02-07 17:01] laurenluz commented on #663
You da best Meechie

[2022-02-09 17:26] mateodaza commented on #67
@MoeNick can we close this? I believe segment is handling this

[2022-02-09 17:28] mateodaza commented on #633
Apollo Link Retry handles this problem, no need to save the failed donation on store

[2022-02-09 17:28] #633 closed

[2022-02-09 19:22] mateodaza commented on #518
closing because stale

[2022-02-09 19:22] #518 closed

[2022-02-09 19:26] mateodaza commented on #554
closing this because mobile support will be taken care on v2 version

[2022-02-09 19:26] #554 closed

[2022-02-09 19:26] mateodaza commented on #556
this is done

[2022-02-09 19:26] #556 closed

[2022-02-09 19:28] mateodaza commented on #591
closing as we can't replicate anymore and I think it's working fine

[2022-02-09 19:28] #591 closed

[2022-02-09 19:39] #596 closed

[2022-02-10 15:58] laurenluz commented on #298
@MoeNick does the new design improve the sort & filter function? A user in the community call mentioned that it was quite a challenge to find good project... I think both the quality score and imrprovements to sort/filter are necessary for this but I made an issue before and it was mentioned that that was being addressed already

[2022-02-10 16:01] MoeNick commented on #298
Yeah we have to have it in our roadmap, not planned for 1st new design version.

[2022-02-14 11:44] MoeNick commented on #613
Should  I close this @geleeroyale ?
I think I'm not able to test all the required stuff is met or not.

[2022-02-15 23:42] divine-comedian commented on #67
this is being done by segment/autopilot

[2022-02-15 23:42] #67 closed

[2022-02-16 18:41] geleeroyale commented on #613
Yes - this issue can be closed 😇

[2022-02-17 10:54] #613 closed

[2022-02-20 16:53] NikolaCreatrix opened #668 "URL link for project updates on Giveth"
## 📋 Is it possible to create a URL link with each update made by project owner on Giveth? That way we have a direct link for the update section when sharing new updates and milestones on social media accounts etc..

## ⏰ Urgency/Deadline/Blockers?

The sooner the better. :)

## ❓ Why is it important?

I want to share my updates on my social media.

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

[2022-02-22 16:01] ghost opened #669 "Donate through my Ledger Account"
## 📋 Anything to add?
I am unable to donate through my ledger account see error message attached.

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links
[ledger:givetherror.pdf](https://github.com/Giveth/giveth-next/files/8118168/ledger.givetherror.pdf)

[2022-02-22 18:33] WhyldWanderer commented on #646
Tested and confirmed working on staging!
![image](https://user-images.githubusercontent.com/74267818/155196452-e620cf0a-35c1-4126-84fb-c6b677aad85d.png)

[2022-02-22 20:17] WhyldWanderer opened #670 "Scrape more information from Giving Block projects"
Currently we are only scraping the Mission Statement and video (if available) from the Giving Block project descriptions. This means that a lot of the projects only have one sentence descriptions. It would be nice to see more information about the project.

We should collect
- "Mission Statement" section
- "Why donate Bitcoin to this organization?" section - We need to make sure the heading part i

[2022-02-22 20:23] MoeNick commented on #670
I'm afraid I can't accept to do it in this nextjs version, hopefully, we can do it in our V2 version maybe a month later.

The importing of these Giving Block projects don't have the expected outcome till now, so I think we’d better do it in the right way and avoid rush decisions.

Thanks

[2022-02-23 15:03] WhyldWanderer opened #671 "Admin Dashboard - Add field so that Super Admins can add purple list addresses to projects"
Fund management addresses that are provided during the verification application process need to be added to the purple list at the start of each round. As an admin, I would like to be able to add these addresses within the AdminBro.

We talked about it in the GIVeconomy call this morning and Mohammad says that we should be able to add this feature.

[2022-02-23 17:48] mohammadranjbarz commented on #671
After implementing this we should consider changing `getProjectsRecipients` query to return these addresses as well, (it might be better to rename this query )
https://github.com/Giveth/impact-graph/blob/b789803b3c03c8f28c3a40f9464c2a56db4e86b8/src/resolvers/projectResolver.ts#L1059-L1067

[2022-03-01 16:05] ghost opened #672 "Unable to open Torus wallet on the Giveth sign in"
## 📋 Anything to add?
I am unable to open the Torus wallet on the Giveth sign-in with an intention to give to project.  See error message below.  I've opened an issue with Torus and they said there isn't a problem with their side and I was able to access the wallet from app.torus.  This may be a Giveth issue?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
-

[2022-03-01 17:03] geleeroyale opened #673 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
Using Brave to submit an update for our project (Njombe Innovation Academy). When I try to upload a picture it takes some trials until the pictures are finally uploaded
![image]()

[2022-03-01 17:04] geleeroyale opened #674 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
Would be great to be able to delete a previously uploaded update

[2022-03-02 04:21] WhyldWanderer opened #675 "Pop-up to inform donors that a project has not been verified"
I was talking with Mateo about having a disclaimer for non-verified projects.
I know this will be included in the next version but it seems important right now.

I have seen multiple projects coming in for efforts in Ukraine and I would hate for people to get scammed. Although these projects meet the requirements for listing, im not sure all of them are legit. I think it would be a good idea to ha

[2022-03-02 13:04] Danibelle opened #676 "As a donor I want to see which donations got GIVbacks"
When I go to My Donations, I would like to see which projects were verified / which donations qualify for / received GIVbacks.

![image](https://user-images.githubusercontent.com/39466970/156366943-243a59ce-3d8f-436a-a178-83c052bd476c.png)

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspira

[2022-03-02 17:38] markoprljic commented on #675
@WhyldWanderer Isn't the already existing "Verified" badge not enough for this? Curious to know (I may have missed it) where it will be included in the next version, and again ... why when we already have the verified badge?
Thanks for clarifying.

[2022-03-02 21:23] WhyldWanderer commented on #675
My understanding of it being included in the next version is based off of a conversation that I had with Mateo:
![image](https://user-images.githubusercontent.com/74267818/156452107-0b4617b6-9231-4009-8222-25ecaafe12d6.png)

Ive just seen quite a few projects coming in around the situation in the Ukraine and although these projects would pass requirements for listing, they may not be legitimate pr

[2022-03-03 14:25] markoprljic commented on #675
Shouldn't the user do their own research anyway? I don't think we should emphasize even more the non verified projects, which leaves a negative impression rather than providing value.
Let alone the verified badge makes user think that all other projects are not worth or safe to donate, which is not the UX we want IMHO.

I'd love to do some research and run user interviews to validate all this.

[2022-03-03 16:20] markoprljic commented on #675
@Tosinolawale Can help us with user research.